<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocao_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,438},{82,64}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,72},{82,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,654},{84,66}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,73},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,430},{88,68}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{88,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,522},{92,68}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,73},{92,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,362},{96,72}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,73},{96,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,276},{100,96}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,49},{100,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,582},{130,116}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,34},{130,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{138,152}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{138,152}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,142}}</string>
                <key>offset</key>
                <string>{-37,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{144,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,146},{142,128}}</string>
                <key>offset</key>
                <string>{-38,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{142,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{144,128}}</string>
                <key>offset</key>
                <string>{-37,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{144,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,362},{90,74}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,79},{90,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,362},{84,66}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,83},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,290},{88,70}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,82},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,722},{78,72}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{78,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,576},{78,72}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,83},{78,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,616},{92,68}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,82},{92,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,262},{118,82}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,67},{118,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,714},{130,90}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,54},{130,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{146,126}}</string>
                <key>offset</key>
                <string>{-36,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{146,126}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{152,122}}</string>
                <key>offset</key>
                <string>{-33,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{152,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{150,142}}</string>
                <key>offset</key>
                <string>{-34,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,142}}</string>
                <key>offset</key>
                <string>{-34,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,696},{80,64}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,80},{80,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,420},{90,66}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,73},{90,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,374},{94,66}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,74},{94,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,576},{82,66}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,73},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,588},{78,68}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,74},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,522},{92,68}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,76},{92,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,276},{104,84}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,62},{104,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,262},{98,112}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,41},{98,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{136,142}}</string>
                <key>offset</key>
                <string>{40,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,36},{136,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,156},{140,130}}</string>
                <key>offset</key>
                <string>{39,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,51},{140,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,132},{140,128}}</string>
                <key>offset</key>
                <string>{38,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,68},{140,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,146},{140,128}}</string>
                <key>offset</key>
                <string>{39,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,68},{140,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,650},{82,70}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{82,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,788},{74,76}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,79},{74,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,500},{80,78}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,79},{80,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,624},{82,70}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,81},{82,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,414},{92,66}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{92,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,442},{86,74}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,79},{86,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,438},{88,82}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,69},{88,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,436},{100,88}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,55},{100,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,132},{124,128}}</string>
                <key>offset</key>
                <string>{24,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,12},{124,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{134,128}}</string>
                <key>offset</key>
                <string>{28,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,14},{134,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{138,144}}</string>
                <key>offset</key>
                <string>{32,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{144,144}}</string>
                <key>offset</key>
                <string>{30,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,586},{86,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,77},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,712},{80,64}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,73},{80,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,646},{80,64}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,73},{80,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,580},{80,64}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,73},{80,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,352},{84,66}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,83},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,556},{86,66}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,83},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,518},{86,66}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,83},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,362},{92,66}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,73},{92,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,346},{92,66}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,73},{92,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,616},{92,66}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,73},{92,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,788},{74,76}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,79},{74,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,500},{74,76}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,79},{74,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,276},{74,76}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,79},{74,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,500},{86,68}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,76},{86,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,488},{86,68}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,76},{86,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,430},{86,68}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,76},{86,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,488},{86,66}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,78},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,778},{74,64}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,79},{74,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,722},{72,64}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,80},{72,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,796},{74,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,78},{74,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,362},{72,62}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,79},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,660},{70,72}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,76},{70,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,742},{68,70}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,77},{68,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,668},{68,72}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,76},{68,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,796},{66,70}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,78},{66,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,762},{76,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,76},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,722},{76,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,76},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,734},{78,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,76},{78,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caocao_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,710},{76,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,76},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caocao.pvr.ccz</string>
            <key>size</key>
            <string>{864,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9838c16dd310b2adf111acd6e8e1e7e:1/1$</string>
            <key>textureFileName</key>
            <string>caocao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
