<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caoren_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,514},{68,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,82},{68,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,218},{56,62}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,76},{56,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,282},{56,74}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,65},{56,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,358},{82,76}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,64},{82,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,482},{94,74}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,68},{94,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{106,76}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,67},{106,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{96,92}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,69},{96,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,92}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,76},{96,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,282},{94,70}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,96},{94,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,76},{86,58}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,104},{86,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,582},{74,48}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,95},{74,48}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,210},{70,54}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,86},{70,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,572},{68,54}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,80},{68,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,542},{84,54}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,79},{84,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,164},{98,52}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{98,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,218},{100,62}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{100,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,354},{94,70}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,75},{94,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,252},{90,72}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,68},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,136},{72,64}}</string>
                <key>offset</key>
                <string>{-25,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,64},{72,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,292},{86,64}}</string>
                <key>offset</key>
                <string>{-31,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,65},{86,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,570},{84,60}}</string>
                <key>offset</key>
                <string>{-30,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,69},{84,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,598},{76,46}}</string>
                <key>offset</key>
                <string>{-26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,83},{76,46}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,582},{54,48}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,80},{54,48}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,384},{62,46}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,82},{62,46}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,326},{82,56}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,79},{82,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,82},{92,50}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,78},{92,50}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,274},{96,56}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,71},{96,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,426},{94,68}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,61},{94,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,632},{88,76}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,56},{88,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,106},{88,86}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,49},{88,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{74,102}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,52},{74,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{82,102}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,60},{82,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,358},{76,72}}</string>
                <key>offset</key>
                <string>{34,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,87},{76,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,646},{68,64}}</string>
                <key>offset</key>
                <string>{33,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,91},{68,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,528},{70,58}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,87},{70,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,384},{76,56}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,84},{76,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,218},{62,62}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,69},{62,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,442},{58,70}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,69},{58,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,588},{58,72}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,70},{58,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,282},{74,72}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{74,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,632},{88,70}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,65},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,78},{94,56}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{94,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,496},{94,72}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,48},{94,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,176},{86,74}}</string>
                <key>offset</key>
                <string>{18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,47},{86,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,218},{72,62}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,58},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,628},{66,52}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,68},{66,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,448},{64,58}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,67},{64,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,570},{60,60}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{60,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{104,80}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{104,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{104,72}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{104,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,332},{96,72}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{96,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{104,80}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,80},{104,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,508},{92,72}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{92,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,354},{94,70}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,81},{94,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,282},{94,70}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,81},{94,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,436},{92,70}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{92,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{104,74}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,78},{104,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{102,74}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,78},{102,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{100,72}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{100,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{102,74}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,78},{102,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,194},{98,78}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,69},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,84},{96,78}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,69},{96,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,406},{96,74}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,70},{96,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{98,78}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,558},{94,72}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,79},{94,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,136},{92,72}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,79},{92,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,144},{90,72}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,79},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,82},{90,72}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,79},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,648},{90,66}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,80},{90,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,358},{90,66}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,81},{90,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,632},{88,66}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,82},{88,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,224},{90,66}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,82},{90,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,496},{90,72}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,77},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,632},{88,70}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,78},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,632},{88,68}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,78},{88,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,450},{90,70}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,78},{90,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,156},{90,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,80},{90,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,436},{90,68}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,79},{90,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,426},{90,68}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{90,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>caoren_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,76},{92,66}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{92,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caoren.pvr.ccz</string>
            <key>size</key>
            <string>{722,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6369212c837771eb2a02ee634c80e0dd:1/1$</string>
            <key>textureFileName</key>
            <string>caoren.pvr.ccz</string>
        </dict>
    </dict>
</plist>
