<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ceshi_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,322},{38,48}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{38,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,454},{36,42}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{36,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,370},{36,46}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,408},{38,44}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{38,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,370},{36,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{36,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,134},{60,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{60,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{64,56}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{64,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,238},{60,54}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,250},{40,46}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,292},{38,46}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{38,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,302},{42,46}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{42,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,400},{42,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{42,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,192},{56,48}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{56,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,302},{76,52}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{76,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,192},{76,54}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,434},{74,54}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,366},{32,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,350},{32,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,332},{32,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,334},{30,54}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{30,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,442},{44,44}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,132},{58,50}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{58,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,186},{70,50}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{70,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,192},{76,48}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{76,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,398},{32,42}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{32,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,390},{30,42}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{30,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,248},{28,42}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{28,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,292},{28,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{28,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,362},{44,46}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,250},{40,46}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,270},{50,48}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,13},{50,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,356},{52,50}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{52,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,132},{74,58}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,328},{76,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{76,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,410},{76,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{76,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,250},{76,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{76,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,68},{80,62}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,130},{80,60}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,68},{80,60}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,68},{80,60}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,408},{76,52}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{76,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,408},{76,52}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{76,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,192},{76,54}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{76,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,248},{76,52}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{76,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,332},{76,58}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{76,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,250},{76,54}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{76,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{78,58}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{76,56}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{76,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,68},{80,62}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{80,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,190},{80,58}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,130},{80,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,68},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{80,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,132},{70,52}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{70,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,294},{74,54}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{74,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ceshi_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,406},{76,52}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{76,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ceshi.pvr.ccz</string>
            <key>size</key>
            <string>{494,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe65fa0cafa66616bb220742b9bd6d8d:1/1$</string>
            <key>textureFileName</key>
            <string>ceshi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
