<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuibing_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,306},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,494},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,576},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,494},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,538},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,456},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,576},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,566},{80,68}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,494},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,412},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{80,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,382},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,310},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,310},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,234},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,160},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,160},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,160},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,310},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,248},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,230},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,158},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,494},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,576},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,576},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,310},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,546},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,464},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,236},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,84},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,84},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,84},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,166},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,154},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,236},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,82},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,384},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,384},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,384},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,310},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,236},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,236},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,382},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,330},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,84},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,78},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chuibing_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuibing.pvr.ccz</string>
            <key>size</key>
            <string>{654,654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11b873bc73fc5d077ece17d78c81f603:1/1$</string>
            <key>textureFileName</key>
            <string>chuibing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
