<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daojiang_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,418},{56,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{56,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,284},{60,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{60,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,138},{60,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{60,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,488},{54,54}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,370},{52,60}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{78,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,466},{76,66}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,418},{46,52}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{46,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,206},{44,46}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,284},{52,50}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{52,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,434},{52,56}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{52,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,200},{52,68}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{52,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,200},{52,50}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{52,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,140},{70,58}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{70,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,464},{66,58}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{66,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,424},{56,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{56,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,260},{38,52}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{38,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,206},{46,54}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{46,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,206},{46,54}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{46,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,206},{46,48}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{46,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,254},{42,52}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{42,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{72,50}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{72,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,414},{72,48}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,206},{42,52}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{42,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,418},{46,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{46,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,76},{60,50}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{60,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,254},{66,60}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{66,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,322},{66,56}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{66,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,488},{52,54}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{52,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,380},{58,52}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{58,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,308},{60,54}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{60,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,418},{44,46}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,466},{78,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{78,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,334},{76,60}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,336},{76,60}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,206},{76,60}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,254},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,336},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,254},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,138},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,72},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,72},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,72},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,72},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,140},{80,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{80,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,466},{76,66}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{76,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{80,66}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,336},{80,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,336},{80,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,140},{80,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,70},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,68}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,68}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,68}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,68}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,140},{80,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{80,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{80,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daojiang_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,464},{80,62}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daojiang.pvr.ccz</string>
            <key>size</key>
            <string>{546,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03585940fedda981778338e6fd1c35b0:1/1$</string>
            <key>textureFileName</key>
            <string>daojiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
