<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dengai_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,714},{100,66}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,78},{100,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,308},{108,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,79},{108,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,404},{114,56}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,80},{114,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,118},{94,92}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,52},{94,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,308},{98,92}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,55},{98,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,212},{102,92}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,59},{102,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,606},{106,94}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,62},{106,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,606},{120,106}}</string>
                <key>offset</key>
                <string>{-40,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,64},{120,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,404},{114,80}}</string>
                <key>offset</key>
                <string>{-45,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,89},{114,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{136,106}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{136,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,130}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{184,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,714},{108,100}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,49},{108,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,660},{78,64}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,79},{78,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,762},{54,62}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,80},{54,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,506},{56,72}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,65},{56,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,442},{90,62}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,68},{90,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,210},{88,62}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,66},{88,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,708},{94,78}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{94,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,606},{100,80}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,49},{100,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,118},{118,92}}</string>
                <key>offset</key>
                <string>{-38,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{118,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,114},{112,94}}</string>
                <key>offset</key>
                <string>{-44,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{112,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{136,96}}</string>
                <key>offset</key>
                <string>{-34,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{136,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{182,100}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{182,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{144,110}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{144,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,196},{94,70}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{94,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,646},{60,68}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,78},{60,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,788},{54,72}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,78},{54,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,520},{84,104}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,43},{84,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,298},{90,104}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,46},{90,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,110},{98,106}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,46},{98,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,210},{106,96}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,61},{106,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{124,102}}</string>
                <key>offset</key>
                <string>{47,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,67},{124,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,210},{110,88}}</string>
                <key>offset</key>
                <string>{54,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,80},{110,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{134,94}}</string>
                <key>offset</key>
                <string>{39,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{134,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{178,124}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{178,124}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,260},{142,74}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,74},{142,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,714},{80,80}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{80,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,708},{96,54}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,75},{96,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,502},{102,54}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,76},{102,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,306},{96,86}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,51},{96,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,100},{104,80}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,55},{104,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,300},{110,78}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,56},{110,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,212},{116,84}}</string>
                <key>offset</key>
                <string>{21,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,42},{116,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,404},{132,96}}</string>
                <key>offset</key>
                <string>{38,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,28},{132,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,714},{118,100}}</string>
                <key>offset</key>
                <string>{43,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,24},{118,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{136,100}}</string>
                <key>offset</key>
                <string>{27,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,25},{136,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{182,114}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{182,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,520},{96,84}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,51},{96,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,110},{98,66}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,78},{98,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,606},{100,66}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,78},{100,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,538},{100,66}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,78},{100,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,580},{76,64}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,79},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,466},{76,66}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,78},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,410},{76,66}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,78},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,100},{94,70}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,74},{94,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,488},{92,70}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,73},{92,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,292},{92,70}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,73},{92,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,506},{80,70}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,74},{80,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,560},{80,80}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{80,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,642},{80,70}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,74},{80,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,300},{108,66}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,78},{108,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,404},{104,64}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,79},{104,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,374},{106,66}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,78},{106,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,308},{108,64}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,79},{108,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,690},{70,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,78},{70,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,618},{70,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,78},{70,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,544},{72,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,78},{72,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,726},{70,64}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,79},{70,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,206},{100,80}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,61},{100,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,502},{102,78}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{102,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,418},{100,82}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,61},{100,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,606},{98,80}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,62},{98,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,726},{72,78}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,64},{72,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,578},{70,80}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{70,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,412},{74,78}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,64},{74,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>dengai_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,386},{72,78}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,64},{72,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dengai.pvr.ccz</string>
            <key>size</key>
            <string>{848,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7506984a56d96b8fcd3850246a3425b0:1/1$</string>
            <key>textureFileName</key>
            <string>dengai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
