<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianwei_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,88},{94,76}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{94,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,572},{48,56}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{48,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,350},{58,66}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,65},{58,66}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,136},{50,72}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,59},{50,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,74},{44,80}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,50},{44,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,154},{76,88}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,56},{76,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,374},{62,68}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,76},{62,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,322},{72,68}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,69},{72,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,416},{82,62}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,73},{82,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,238},{82,66}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,83},{82,66}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,500},{70,56}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,79},{70,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,440},{68,58}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,77},{68,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{100,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,71},{100,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,444},{66,54}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,69},{66,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,572},{50,64}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,58},{50,64}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{48,68}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,57},{48,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,388},{50,66}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{50,66}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,500},{62,78}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,42},{62,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,572},{56,64}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,56},{56,64}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,534},{56,54}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,67},{56,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,156},{72,44}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,79},{72,44}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,418},{96,46}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,78},{96,46}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,72},{62,48}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,75},{62,48}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,516},{56,54}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{56,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{108,84}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{108,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{66,52}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,73},{66,52}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,618},{52,62}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,63},{52,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,572},{50,68}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,58},{50,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,210},{50,70}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,53},{50,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,232},{62,88}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,57},{62,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,594},{54,76}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,69},{54,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,366},{56,76}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,67},{56,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,598},{72,70}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,70},{72,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{100,70}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,83},{100,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,454},{64,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{64,60}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,522},{56,48}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,80},{56,48}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,296},{86,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,66},{86,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,484},{48,60}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,66},{48,60}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,500},{58,70}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,56},{58,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,456},{50,64}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,61},{50,64}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,624},{44,66}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,58},{44,66}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,282},{76,82}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,41},{76,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,392},{60,68}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,55},{60,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,612},{70,58}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{70,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,346},{82,68}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,58},{82,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,154},{82,62}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,65},{82,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,388},{70,50}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{70,50}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,424},{66,58}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,68},{66,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,238},{90,74}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,77},{90,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,166},{90,74}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,76},{90,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{92,76}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,76},{92,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{98,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,72},{98,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{98,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,72},{98,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{98,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,71},{98,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{108,88}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{108,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,88}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{108,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,84}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{108,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,88},{88,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{88,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{90,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{90,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,74},{90,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,64},{90,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,166},{96,74}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,75},{96,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{98,70}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,76},{98,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{96,70}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,77},{96,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,74},{90,74}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,75},{90,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,350},{84,66}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,75},{84,66}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,510},{82,68}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,74},{82,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,424},{84,68}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,74},{84,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,510},{86,68}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,74},{86,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,258},{86,74}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,70},{86,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,150},{86,78}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,69},{86,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,264},{84,74}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,71},{84,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,166},{92,74}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,70},{92,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,314},{90,72}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,66},{90,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,516},{94,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,67},{94,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,418},{90,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,66},{90,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>dianwei_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,260},{84,74}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,65},{84,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianwei.pvr.ccz</string>
            <key>size</key>
            <string>{672,672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6032c4d4d9e09c2ecfb72a67557aca2:1/1$</string>
            <key>textureFileName</key>
            <string>dianwei.pvr.ccz</string>
        </dict>
    </dict>
</plist>
