<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaochan_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,308},{58,52}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,95},{58,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,298},{58,50}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,95},{58,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,204},{66,50}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,95},{66,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{74,54}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,91},{74,54}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{74,62}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,81},{74,62}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,70}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,73},{86,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{92,56}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,87},{92,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{90,56}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,95},{90,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,74},{70,56}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,94},{70,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,416},{70,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,94},{70,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,286},{64,60}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,84},{64,60}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,294},{54,58}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,86},{54,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,458},{66,52}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,85},{66,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,488},{70,50}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,86},{70,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,72},{66,54}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,81},{66,54}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,128},{62,62}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,72},{62,62}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,138},{64,70}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,65},{64,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{58,78}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,59},{58,78}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{66,70}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,68},{66,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{80,66}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,71},{80,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{86,50}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,86},{86,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{90,50}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,87},{90,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,322},{66,56}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,84},{66,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,146},{66,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,83},{66,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,192},{56,56}}</string>
                <key>offset</key>
                <string>{27,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,81},{56,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,278},{54,58}}</string>
                <key>offset</key>
                <string>{26,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,79},{54,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,454},{54,52}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,86},{54,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,130},{60,56}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,83},{60,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,204},{60,62}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,77},{60,62}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{72,68}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,76},{72,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,70},{70,64}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,83},{70,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,254},{66,58}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,82},{66,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,136},{70,60}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,83},{70,60}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,72},{64,70}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,71},{64,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{62,72}}</string>
                <key>offset</key>
                <string>{24,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,67},{62,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,140},{60,62}}</string>
                <key>offset</key>
                <string>{25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,75},{60,62}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,124},{48,60}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,72},{48,60}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,458},{52,56}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,76},{52,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,226},{50,60}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,72},{50,60}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,62},{58,60}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,73},{58,60}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,60},{62,66}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,67},{62,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{70,62}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,72},{70,62}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,214},{70,58}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{70,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,390},{54,66}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,70},{54,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,198},{46,70}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,66},{46,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,348},{60,66}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,68},{60,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,192},{60,62}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,73},{60,62}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,66},{48,62}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,72},{48,62}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,234},{58,52}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,95},{58,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,388},{56,52}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,95},{56,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,356},{56,52}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,95},{56,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,334},{56,52}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,95},{56,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,256},{58,50}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,87},{58,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,246},{58,50}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,87},{58,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,410},{56,50}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,87},{56,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,250},{58,50}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,87},{58,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,302},{56,52}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,85},{56,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,362},{56,52}}</string>
                <key>offset</key>
                <string>{26,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{56,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,404},{56,52}}</string>
                <key>offset</key>
                <string>{27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,84},{56,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,442},{54,52}}</string>
                <key>offset</key>
                <string>{26,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,84},{54,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,514},{46,50}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,82},{46,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,424},{48,50}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{48,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,374},{48,50}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{48,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,324},{48,50}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{48,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,404},{56,48}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,94},{56,48}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,174},{60,50}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{60,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,74},{62,48}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,94},{62,48}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,350},{56,52}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,94},{56,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,266},{56,50}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,87},{56,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,354},{56,48}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,88},{56,48}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,496},{54,50}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,87},{54,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,462},{54,50}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,89},{54,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,508},{50,54}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,82},{50,54}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,416},{56,54}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,85},{56,54}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,174},{52,58}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,83},{52,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,508},{48,52}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{48,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,472},{40,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,85},{40,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,516},{44,50}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,86},{44,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,122},{46,50}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,85},{46,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>diaochan_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,516},{44,48}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,85},{44,48}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diaochan.pvr.ccz</string>
            <key>size</key>
            <string>{562,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3302d1496aaa9ef2e043f0a1945dffa8:1/1$</string>
            <key>textureFileName</key>
            <string>diaochan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
