<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dongzhuo_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,65},{101,63}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,57},{101,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,463},{91,61}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,59},{91,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,59},{105,71}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,51},{105,71}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,65},{105,61}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,61},{105,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{107,61}}</string>
                <key>offset</key>
                <string>{23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,61},{107,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,105},{79,69}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,59},{79,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{113,71}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,59},{113,71}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{107,89}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{107,89}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{115,71}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,64},{115,71}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{115,61}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,75},{115,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,128},{93,69}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,71},{93,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,463},{99,59}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,61},{99,59}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,316},{67,59}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,66},{67,59}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,247},{75,67}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{75,67}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,345},{79,65}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,65},{79,65}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,186},{59,69}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,63},{59,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,424},{61,69}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{61,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,564},{97,59}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,59},{97,59}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,152},{83,77}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{83,77}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{121,75}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{121,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{117,83}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{117,83}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{97,75}}</string>
                <key>offset</key>
                <string>{-28,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{97,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,195},{99,53}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,64},{99,53}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,284},{71,59}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,59},{71,59}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,422},{51,69}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,55},{51,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,493},{63,59}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,61},{63,59}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,489},{59,71}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{59,71}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,501},{53,69}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,53},{53,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,495},{57,71}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{57,71}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,250},{85,71}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,53},{85,71}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,130},{87,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,52},{87,91}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,71}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{135,71}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{111,61}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{111,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,231},{83,61}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{83,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,219},{83,63}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{83,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,477},{63,71}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,55},{63,71}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,345},{81,49}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,67},{81,49}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,250},{85,55}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,67},{85,55}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,337},{85,55}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,66},{85,55}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,65},{85,51}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,66},{85,51}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,556},{87,53}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,64},{87,53}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,353},{95,67}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,64},{95,67}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{133,55}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,61},{133,55}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,251},{107,77}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{107,77}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,65},{101,75}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,41},{101,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,142},{91,75}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,41},{91,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,219},{83,73}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,44},{83,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,412},{79,63}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,54},{79,63}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,374},{101,61}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,59},{101,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,250},{101,61}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,59},{101,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,132},{101,61}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{101,61}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,605},{65,59}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,66},{65,59}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,493},{65,59}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{65,59}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,428},{67,59}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{67,59}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,554},{49,69}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,55},{49,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,554},{49,69}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,55},{49,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,294},{49,69}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,55},{49,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,556},{81,49}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,67},{81,49}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,294},{81,49}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{81,49}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,199},{81,49}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,68},{81,49}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{101,69}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,51},{101,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,360},{101,67}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,53},{101,67}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,580},{101,67}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,53},{101,67}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,477},{101,67}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,53},{101,67}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,607},{75,55}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{75,55}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,550},{75,55}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,68},{75,55}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,377},{73,57}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{73,57}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,345},{75,57}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,66},{75,57}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,607},{53,75}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,48},{53,75}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,609},{53,73}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{53,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,609},{53,73}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{53,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,609},{53,73}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{53,73}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,436},{73,55}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,62},{73,55}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,554},{75,53}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,63},{75,53}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,345},{77,53}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,63},{77,53}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>dongzhuo_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,424},{75,55}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,62},{75,55}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dongzhuo.pvr.ccz</string>
            <key>size</key>
            <string>{684,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bea250650f084ccd112715ecc58e607:1/1$</string>
            <key>textureFileName</key>
            <string>dongzhuo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
