<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongjiang_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,414},{44,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{44,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,196},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{48,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,304},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{52,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,250},{52,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{52,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,362},{58,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{58,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,310},{58,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{58,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,466},{46,52}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{46,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,360},{48,50}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{48,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,132},{70,46}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{70,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,202},{58,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{58,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,466},{54,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{54,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,252},{54,54}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,250},{52,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{52,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,196},{52,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{52,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,414},{56,50}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{56,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,308},{52,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{52,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,460},{40,46}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,310},{46,46}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{46,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,460},{44,48}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{44,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,414},{50,50}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,308},{52,50}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{52,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,358},{52,50}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{52,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,466},{48,46}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{48,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,360},{44,46}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,342},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{42,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,296},{44,42}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{44,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,410},{48,48}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{48,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,466},{46,48}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{46,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,358},{44,54}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{44,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,252},{46,54}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{46,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,410},{40,48}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{40,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,250},{44,42}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{44,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{78,64}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{78,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{78,64}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{78,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{78,66}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{78,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,68},{78,62}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{78,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,450},{78,62}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{78,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,66},{78,58}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,368},{80,58}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,286},{80,58}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,204},{80,58}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,66},{76,64}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{76,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,132},{74,62}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,128},{72,64}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{72,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,128},{76,62}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{76,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,364},{76,62}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{76,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{80,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{80,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,286},{76,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{76,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,132},{74,62}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{74,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,66},{80,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,66},{80,60}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,208},{76,62}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{76,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,194},{74,56}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{74,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,126},{74,60}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{74,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,250},{66,58}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{66,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjiang_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,192},{74,56}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{74,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongjiang.pvr.ccz</string>
            <key>size</key>
            <string>{514,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78cb3de0ee5131d5b59e22d28d1971c1:1/1$</string>
            <key>textureFileName</key>
            <string>gongjiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
