<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyu_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,172},{81,83}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{81,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,502},{75,83}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{75,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,346},{75,85}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,510},{73,85}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{73,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,419},{81,81}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{81,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,172},{85,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,595},{85,73}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,419},{85,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,494},{85,71}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,498},{77,69}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{77,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,567},{75,67}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{75,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,601},{77,65}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{77,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,520},{85,73}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,342},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,569},{75,67}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{75,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,87},{83,69}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{83,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,259},{85,71}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,597},{75,71}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{75,71}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,336},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,174},{85,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{75,61}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{75,61}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,579},{85,65}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,429},{75,83}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,496},{83,65}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{83,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,563},{79,65}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{79,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{85,63}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{85,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,514},{85,65}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,172},{85,65}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,338},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,172},{85,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,170},{85,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,336},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,338},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,336},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,257},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,255},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,89},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,87},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,255},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,257},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,255},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,87},{85,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,417},{85,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,433},{85,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,417},{85,75}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,423},{85,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,87},{83,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,87},{83,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,253},{83,81}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{83,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,87},{83,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,172},{83,81}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{83,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanyu_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guanyu.pvr.ccz</string>
            <key>size</key>
            <string>{676,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53b318262f48447e21d262811ea3392a:1/1$</string>
            <key>textureFileName</key>
            <string>guanyu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
