<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangzhong_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,62},{64,62}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,81},{64,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{84,56}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,80},{84,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{130,58}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,78},{130,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{126,60}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,77},{126,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,126},{122,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,73},{122,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,492},{114,76}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,61},{114,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,422},{108,74}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{108,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,424},{102,74}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,62},{102,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{100,74}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{100,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,486},{98,74}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{98,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,342},{80,74}}</string>
                <key>offset</key>
                <string>{29,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,62},{80,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,58},{60,62}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,79},{60,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,52}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,77},{80,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{70,52}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,79},{70,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,62},{66,70}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,65},{66,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,266},{88,70}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,67},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{96,80}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,59},{96,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,570},{94,78}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,62},{94,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,570},{86,76}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{86,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,492},{86,76}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,65},{86,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,576},{86,78}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{86,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,272},{80,74}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{80,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,120},{68,70}}</string>
                <key>offset</key>
                <string>{23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,71},{68,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,62},{78,66}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{100,58}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{100,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,122},{86,68}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{86,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,578},{78,78}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,59},{78,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,660},{82,82}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,56},{82,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,660},{82,84}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,52},{82,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,498},{76,84}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,48},{76,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,562},{76,80}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,47},{76,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{76,78}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,49},{76,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,500},{76,78}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,49},{76,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,500},{76,80}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,48},{76,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{72,80}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,49},{72,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,62},{90,62}}</string>
                <key>offset</key>
                <string>{24,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,65},{90,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{58,78}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,57},{58,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,62},{64,72}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,62},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,192},{88,68}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{88,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,346},{86,74}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,62},{86,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,644},{80,84}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,53},{80,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,272},{72,82}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{72,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,128},{68,84}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{68,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,62},{64,84}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{64,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{66,84}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,56},{66,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,60},{60,82}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,58},{60,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{58,80}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,60},{58,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{54,80}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,50},{54,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{88,72}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,80},{88,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,266},{88,70}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,82},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,338},{90,72}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,81},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,200},{90,70}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,82},{90,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,196},{90,68}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{90,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,130},{90,68}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,76},{90,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,128},{88,68}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,76},{88,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,196},{92,68}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{92,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,342},{114,72}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{114,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,418},{112,72}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{112,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,416},{112,72}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,72},{112,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,412},{112,72}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{112,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,656},{80,86}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,56},{80,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,650},{80,86}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{80,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,648},{80,86}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{80,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,580},{78,86}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{78,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,338},{90,72}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,81},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,344},{94,72}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,81},{94,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,270},{100,70}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{100,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,270},{96,70}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,82},{96,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,490},{92,74}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{92,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,130},{90,68}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,78},{90,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,198},{88,70}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,77},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{88,70}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,77},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,200},{100,70}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{100,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{96,70}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{96,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,418},{98,72}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{98,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,272},{98,70}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{98,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,658},{90,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,62},{90,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,566},{88,76}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{88,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,348},{84,74}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,68},{84,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>huangzhong_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{86,76}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{86,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangzhong.pvr.ccz</string>
            <key>size</key>
            <string>{748,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cada320b22ab1e80491c578f29ae4120:1/1$</string>
            <key>textureFileName</key>
            <string>huangzhong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
