<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangwei_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,304},{102,64}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,81},{102,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,698},{56,60}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,81},{56,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,452},{84,54}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,83},{84,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,340},{98,56}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,81},{98,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,478},{98,56}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,81},{98,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,160},{122,52}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,91},{122,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,296},{104,76}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,88},{104,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,170},{114,78}}</string>
                <key>offset</key>
                <string>{-37,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,85},{114,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,344},{106,82}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,79},{106,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,580},{58,72}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,87},{58,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,552},{60,92}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,73},{60,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,100},{112,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,78},{112,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,654},{82,62}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,81},{82,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,318},{104,54}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{104,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,438},{58,78}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,74},{58,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,614},{52,84}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,73},{52,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,570},{58,86}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,74},{58,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,668},{78,78}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,74},{78,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{108,96}}</string>
                <key>offset</key>
                <string>{-25,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{108,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,118}}</string>
                <key>offset</key>
                <string>{-39,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{136,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{124,110}}</string>
                <key>offset</key>
                <string>{-33,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{124,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,250},{100,92}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{100,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,348},{126,50}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,77},{126,50}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,374},{68,58}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,79},{68,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,290},{110,68}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,74},{110,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,214},{116,54}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,76},{116,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,374},{66,64}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,76},{66,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,634},{52,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,77},{52,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,440},{56,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{56,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,508},{98,84}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,84},{98,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{128,82}}</string>
                <key>offset</key>
                <string>{45,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,80},{128,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{120,106}}</string>
                <key>offset</key>
                <string>{49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,56},{120,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{122,116}}</string>
                <key>offset</key>
                <string>{48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,52},{122,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{122,74}}</string>
                <key>offset</key>
                <string>{48,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,69},{122,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,440},{96,60}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,82},{96,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,630},{56,82}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,71},{56,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,580},{72,78}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,75},{72,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,654},{46,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,74},{46,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,166},{108,66}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{108,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,100},{124,58}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,78},{124,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,114},{124,54}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,77},{124,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{128,76}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,72},{128,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{92,108}}</string>
                <key>offset</key>
                <string>{27,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,17},{92,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{96,122}}</string>
                <key>offset</key>
                <string>{31,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{86,118}}</string>
                <key>offset</key>
                <string>{29,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,3},{86,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,90},{76,112}}</string>
                <key>offset</key>
                <string>{23,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,9},{76,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,578},{56,60}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,73},{56,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,654},{80,56}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{80,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,426},{100,64}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,81},{100,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,374},{100,64}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,81},{100,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,360},{100,64}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,81},{100,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,374},{80,62}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,81},{80,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,654},{82,60}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,82},{82,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,234},{82,62}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,81},{82,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,234},{110,68}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,75},{110,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,270},{110,68}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,75},{110,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,96},{110,68}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,75},{110,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,502},{72,76}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{72,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,688},{72,78}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,75},{72,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,688},{72,78}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,75},{72,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,226},{116,62}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,83},{116,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,168},{116,62}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,83},{116,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,162},{114,62}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,83},{114,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,232},{112,62}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,83},{112,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,568},{76,64}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,78},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,504},{78,62}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{78,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,498},{78,64}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{78,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,438},{76,64}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,79},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,492},{94,76}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,73},{94,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,502},{92,76}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,73},{92,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,474},{96,76}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,73},{96,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,398},{98,74}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,74},{98,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,594},{86,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,74},{86,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,640},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,75},{86,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,580},{86,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,75},{86,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>jiangwei_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,668},{84,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,74},{84,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiangwei.pvr.ccz</string>
            <key>size</key>
            <string>{768,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ad074baf751970a179dfbd0ec9de0be:1/1$</string>
            <key>textureFileName</key>
            <string>jiangwei.pvr.ccz</string>
        </dict>
    </dict>
</plist>
