<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbu_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{148,96}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,45},{148,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{158,96}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,45},{158,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,100},{140,96}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{140,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{144,96}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,46},{144,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,410},{128,100}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{128,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,322},{132,98}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,44},{132,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{140,106}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,39},{140,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,136}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{164,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{154,142}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{154,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{148,136}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{148,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{144,102}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{144,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,364},{134,78}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,65},{134,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,798},{120,104}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,41},{120,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,536},{118,110}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,39},{118,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,190},{138,102}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,38},{138,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,294},{136,102}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{136,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,260},{136,102}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{136,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,210},{138,94}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{138,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,106},{140,102}}</string>
                <key>offset</key>
                <string>{24,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,38},{140,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{154,136}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{154,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{122,132}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{122,132}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,306},{114,130}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,4},{114,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,608},{120,88}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,47},{120,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,112},{84,72}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,70},{84,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,444},{128,112}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,38},{128,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,558},{124,116}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{124,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,398},{128,100}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,38},{128,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,410},{126,108}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{126,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,198},{136,102}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{136,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,302},{136,106}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,38},{136,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,210},{122,110}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,34},{122,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{110,142}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,27},{110,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,100},{88,150}}</string>
                <key>offset</key>
                <string>{31,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,26},{88,150}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,100},{94,142}}</string>
                <key>offset</key>
                <string>{32,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,27},{94,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,698},{90,116}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,44},{90,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,916},{64,112}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,41},{64,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,196},{138,104}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{138,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,302},{134,106}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,49},{134,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,676},{120,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{120,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{140,110}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,47},{140,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,520},{120,118}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{120,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,422},{126,112}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,48},{126,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,512},{120,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{120,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,140},{118,148}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,20},{118,148}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,422},{114,126}}</string>
                <key>offset</key>
                <string>{23,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,20},{114,126}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,500},{106,126}}</string>
                <key>offset</key>
                <string>{27,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,19},{106,126}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,816},{100,98}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,57},{100,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,800},{104,78}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,77},{104,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,906},{90,82}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{90,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,906},{92,80}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{92,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,906},{90,80}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{90,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,644},{92,80}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,63},{92,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,908},{76,66}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,72},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,916},{76,66}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,72},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,916},{76,66}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,72},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,880},{76,64}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,73},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{62,108}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,37},{62,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,632},{64,108}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,37},{64,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,698},{66,108}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,37},{66,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,808},{64,106}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,38},{64,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,808},{96,78}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,77},{96,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,808},{96,78}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,78},{96,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,728},{96,78}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,77},{96,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,648},{96,78}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,78},{96,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,720},{104,78}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{104,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,538},{104,80}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,64},{104,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,538},{102,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,66},{102,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,640},{104,78}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,63},{104,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,908},{78,76}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,63},{78,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,722},{78,76}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,63},{78,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,802},{76,76}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,63},{76,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,642},{78,76}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,62},{78,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,808},{78,106}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,52},{78,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,698},{82,108}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,48},{82,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,538},{80,106}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,50},{80,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,904},{82,108}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,50},{82,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,818},{86,78}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,79},{86,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,646},{90,80}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,76},{90,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,738},{90,78}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{90,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvbu_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,818},{88,78}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,78},{88,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvbu.pvr.ccz</string>
            <key>size</key>
            <string>{990,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab9d4fef0124eca3ed6af3a527ae164c:1/1$</string>
            <key>textureFileName</key>
            <string>lvbu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
