<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvmeng_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,584},{88,68}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,81},{88,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,748},{60,84}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,63},{60,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,218},{92,80}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,58},{92,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,146},{122,74}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{122,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,266},{116,74}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{116,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,600},{86,76}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,62},{86,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{132,88}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,66},{132,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{126,86}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,75},{126,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{142,86}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,70},{142,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{140,90}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,71},{140,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,396},{134,78}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,83},{134,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,668},{122,54}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,83},{122,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,768},{106,66}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,77},{106,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,96},{128,48}}</string>
                <key>offset</key>
                <string>{23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,79},{128,48}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,586},{108,56}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{108,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,524},{94,64}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,80},{94,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,534},{98,64}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,78},{98,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,92},{108,60}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,73},{108,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,222},{118,74}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,61},{118,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,254},{140,70}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,62},{140,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{156,74}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,59},{156,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{164,72}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,58},{164,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,532},{134,70}}</string>
                <key>offset</key>
                <string>{-23,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,58},{134,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,744},{60,62}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,74},{60,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,188},{118,74}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,75},{118,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,390},{108,54}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,76},{108,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,476},{80,78}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,61},{80,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,162},{68,90}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,51},{68,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,748},{78,84}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,58},{78,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,300},{98,88}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,53},{98,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{128,92}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{128,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{154,76}}</string>
                <key>offset</key>
                <string>{27,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,66},{154,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{164,78}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,71},{164,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,78}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,76},{176,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{146,80}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,78},{146,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,558},{64,80}}</string>
                <key>offset</key>
                <string>{26,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,75},{64,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,624},{84,86}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,67},{84,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,688},{54,76}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,74},{54,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,292},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,75},{70,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,152},{96,62}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,76},{96,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,550},{102,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,77},{102,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,446},{106,76}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,75},{106,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,76},{130,74}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,57},{130,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,216},{114,88}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{114,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,92},{120,94}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,44},{120,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{122,100}}</string>
                <key>offset</key>
                <string>{25,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,43},{122,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,90},{126,92}}</string>
                <key>offset</key>
                <string>{29,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,43},{126,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,644},{110,52}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,71},{110,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,600},{86,68}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,81},{86,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,678},{86,68}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,81},{86,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,202},{88,70}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,80},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,774},{110,66}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,77},{110,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,332},{108,66}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,77},{108,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,442},{106,66}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,77},{106,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,254},{118,74}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,75},{118,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,654},{118,74}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,75},{118,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,532},{120,74}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,75},{120,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,756},{86,84}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{86,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,130},{86,86}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,67},{86,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,756},{84,86}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,67},{84,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,342},{114,80}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{114,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,264},{116,78}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{116,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,424},{114,78}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{114,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,424},{114,76}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,73},{114,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,504},{112,80}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{112,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,502},{112,80}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{112,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,654},{112,80}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{112,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,376},{110,78}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{110,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,456},{110,76}}</string>
                <key>offset</key>
                <string>{25,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{110,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,364},{110,78}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,65},{110,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,298},{110,76}}</string>
                <key>offset</key>
                <string>{24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{110,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,644},{110,78}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,64},{110,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,184},{114,80}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{114,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,654},{112,78}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{112,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,344},{114,78}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{114,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>lvmeng_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,374},{114,78}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,64},{114,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvmeng.pvr.ccz</string>
            <key>size</key>
            <string>{842,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4345dadada2b385567f90d6204944c2c:1/1$</string>
            <key>textureFileName</key>
            <string>lvmeng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
