<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mayunlu_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,362},{98,74}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,70},{98,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,216},{50,74}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,80},{50,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,276},{106,52}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,81},{106,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,84},{100,88}}</string>
                <key>offset</key>
                <string>{36,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,51},{100,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,620},{80,98}}</string>
                <key>offset</key>
                <string>{28,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,37},{80,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,78},{70,104}}</string>
                <key>offset</key>
                <string>{21,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,36},{70,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{124,106}}</string>
                <key>offset</key>
                <string>{30,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,38},{124,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,174},{122,100}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{122,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{140,68}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,79},{140,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{164,80}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{164,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{142,64}}</string>
                <key>offset</key>
                <string>{-36,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,82},{142,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{160,74}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{160,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,448},{96,62}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,78},{96,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,712},{70,60}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,78},{70,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,386},{118,48}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,79},{118,48}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,392},{66,60}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{66,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,640},{68,60}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,78},{68,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,710},{68,62}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,77},{68,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,638},{76,58}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,73},{76,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,710},{68,60}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,79},{68,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,276},{102,82}}</string>
                <key>offset</key>
                <string>{35,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,50},{102,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,384},{120,84}}</string>
                <key>offset</key>
                <string>{32,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,48},{120,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,372},{74,94}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,49},{74,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,310},{76,80}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,58},{76,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,184},{104,90}}</string>
                <key>offset</key>
                <string>{-30,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{104,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{136,100}}</string>
                <key>offset</key>
                <string>{-32,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{136,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{126,102}}</string>
                <key>offset</key>
                <string>{-25,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{126,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{126,100}}</string>
                <key>offset</key>
                <string>{-28,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{126,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,698},{72,76}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,68},{72,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,386},{112,50}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,75},{112,50}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,208},{90,84}}</string>
                <key>offset</key>
                <string>{37,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,56},{90,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,512},{58,94}}</string>
                <key>offset</key>
                <string>{28,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,36},{58,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,566},{64,86}}</string>
                <key>offset</key>
                <string>{17,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,39},{64,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,486},{82,78}}</string>
                <key>offset</key>
                <string>{12,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,49},{82,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,184},{90,94}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,44},{90,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,276},{106,108}}</string>
                <key>offset</key>
                <string>{25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,45},{106,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,506},{102,112}}</string>
                <key>offset</key>
                <string>{38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,55},{102,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,512},{124,94}}</string>
                <key>offset</key>
                <string>{45,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,69},{124,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,282},{98,78}}</string>
                <key>offset</key>
                <string>{46,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,82},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,276},{108,86}}</string>
                <key>offset</key>
                <string>{44,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,70},{108,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,572},{66,60}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,76},{66,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,634},{64,80}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{64,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,294},{46,68}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,73},{46,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,572},{64,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,62},{64,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,126},{84,66}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,634},{66,80}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,61},{66,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,454},{66,66}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,58},{66,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,720},{66,80}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,62},{66,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,716},{66,70}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,54},{66,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,638},{66,72}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,55},{66,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,216},{100,64}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,58},{100,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,68},{142,56}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,66},{142,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{160,80}}</string>
                <key>offset</key>
                <string>{29,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,41},{160,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,88}}</string>
                <key>offset</key>
                <string>{22,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{174,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{146,78}}</string>
                <key>offset</key>
                <string>{36,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,43},{146,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,384},{126,84}}</string>
                <key>offset</key>
                <string>{38,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,42},{126,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,84},{98,74}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,70},{98,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,212},{96,74}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,70},{96,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,294},{96,76}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{96,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,570},{94,62}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{94,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,502},{94,62}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{94,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,438},{96,62}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{96,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,716},{70,76}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,68},{70,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,716},{70,76}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,68},{70,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,620},{72,76}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,68},{72,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,640},{68,62}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,74},{68,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,454},{66,62}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,74},{66,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,522},{66,64}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{66,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,152},{106,62}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,82},{106,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,640},{104,60}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,82},{104,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,638},{104,64}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,80},{104,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,506},{106,60}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,81},{106,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,78},{104,80}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,60},{104,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,380},{104,78}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,62},{104,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,72},{104,78}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,61},{104,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>mayunlu_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,126},{100,80}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{100,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mayunlu.pvr.ccz</string>
            <key>size</key>
            <string>{788,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8f70d55e66ae9c76b11ad95167382ea:1/1$</string>
            <key>textureFileName</key>
            <string>mayunlu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
