<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menghuo_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,462},{66,58}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,80},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,244},{84,68}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,70},{84,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{82,70}}</string>
                <key>offset</key>
                <string>{32,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,68},{82,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,244},{80,68}}</string>
                <key>offset</key>
                <string>{32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,70},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,370},{84,64}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,74},{84,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,90},{86,76}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{86,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,96}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,67},{108,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{96,84}}</string>
                <key>offset</key>
                <string>{-26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,81},{96,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{90,84}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,81},{90,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,502},{58,50}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,92},{58,50}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,442},{64,54}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,84},{64,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,608},{66,58}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,80},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,288},{70,58}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,76},{70,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,314},{86,62}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,75},{86,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,246},{86,58}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,80},{86,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,88},{86,54}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,83},{86,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,314},{80,54}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,83},{80,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,164},{78,60}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,72},{78,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{102,86}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,41},{102,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{88,88}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,39},{88,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{86,86}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{86,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,414},{56,56}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,72},{56,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,306},{64,54}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,75},{64,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,372},{70,58}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,76},{70,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,522},{66,54}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,73},{66,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,306},{80,64}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,64},{80,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,462},{70,66}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,61},{70,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,542},{64,62}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,65},{64,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,474},{66,74}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,59},{66,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{92,80}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,60},{92,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{102,90}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,63},{102,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,168},{88,76}}</string>
                <key>offset</key>
                <string>{37,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,77},{88,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,378},{78,68}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,85},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,448},{62,52}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,87},{62,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,504},{66,54}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,78},{66,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,448},{66,54}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,73},{66,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,608},{66,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,73},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,224},{78,62}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{78,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,540},{72,58}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,77},{72,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,348},{64,56}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,79},{64,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,602},{70,58}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,76},{70,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,192},{94,60}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,69},{94,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{110,74}}</string>
                <key>offset</key>
                <string>{15,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,43},{110,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{96,76}}</string>
                <key>offset</key>
                <string>{23,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,43},{96,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,166},{84,76}}</string>
                <key>offset</key>
                <string>{27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,43},{84,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,378},{68,52}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,69},{68,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,372},{68,54}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,72},{68,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,608},{66,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,73},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,608},{66,58}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,80},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,608},{66,58}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,80},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,608},{66,58}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,80},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,542},{70,58}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,76},{70,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,600},{70,58}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,76},{70,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,480},{70,58}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,76},{70,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,540},{66,54}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,74},{66,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,508},{66,54}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,74},{66,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,472},{66,54}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,73},{66,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,608},{66,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,73},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,444},{66,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,73},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,176},{66,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,73},{66,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,92},{90,72}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,81},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,150},{90,72}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,81},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,286},{92,70}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,82},{92,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,370},{90,70}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,82},{90,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,278},{90,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,78},{90,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,384},{94,70}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,78},{94,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{94,72}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,76},{94,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,192},{92,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,77},{92,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,76},{90,72}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,75},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,100},{90,70}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,75},{90,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{90,72}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,75},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,184},{92,72}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{92,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,288},{94,70}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,74},{94,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,88},{92,74}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,73},{92,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,90},{92,74}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,73},{92,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>menghuo_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,380},{92,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,73},{92,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menghuo.pvr.ccz</string>
            <key>size</key>
            <string>{676,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:607bc929fbed272deaf42cbc95367cd6:1/1$</string>
            <key>textureFileName</key>
            <string>menghuo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
