<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moushi_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{36,48}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{36,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,346},{36,42}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{36,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,448},{36,46}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,390},{38,44}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{38,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,390},{34,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{34,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,302},{60,52}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{60,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,294},{64,56}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{64,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,246},{60,54}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,436},{40,46}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,446},{38,46}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,17},{38,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,444},{40,48}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{40,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,390},{42,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{42,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,436},{56,48}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{56,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{74,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{74,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,190},{76,54}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,242},{74,54}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,356},{32,46}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,356},{32,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,384},{30,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{30,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,352},{30,54}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,11},{30,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,390},{44,44}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,246},{58,50}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{58,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,246},{70,50}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{70,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,188},{76,46}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{76,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,352},{32,42}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{32,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,428},{28,42}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{28,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,384},{28,42}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{28,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,416},{28,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{28,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,298},{44,46}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,436},{40,46}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,436},{50,48}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{50,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,246},{52,50}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{52,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{72,58}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{72,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,182},{72,58}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{72,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,122},{72,58}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{72,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,62},{72,58}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{72,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,132},{80,58}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,130},{80,58}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,128},{80,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,68},{80,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,298},{72,52}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{72,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,192},{74,52}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{74,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,372},{72,52}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{72,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,298},{72,52}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{72,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,236},{74,56}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{74,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{74,52}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{74,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{72,58}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{72,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,368},{66,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{66,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,68},{80,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,188},{78,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{78,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,130},{80,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{80,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,68},{80,60}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,68},{80,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{74,50}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{74,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,298},{64,52}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{64,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,298},{68,52}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{68,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>moushi_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,372},{70,52}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{70,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moushi.pvr.ccz</string>
            <key>size</key>
            <string>{486,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08c170b6debb785056bbe77fd9e7c767:1/1$</string>
            <key>textureFileName</key>
            <string>moushi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
