<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangtong_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,404},{78,62}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,82},{78,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,410},{66,68}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,66},{66,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,412},{64,74}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{64,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,86},{80,80}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,54},{80,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,332},{78,64}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,71},{78,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,376},{96,82}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,54},{96,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{100,98}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,40},{100,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,128}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{118,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{110,128}}</string>
                <key>offset</key>
                <string>{-22,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{110,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,176},{102,70}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,84},{102,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,94},{104,64}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,83},{104,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,248},{82,66}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,656},{66,70}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{66,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,564},{62,64}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,63},{62,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,628},{68,68}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,59},{68,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,626},{88,62}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,65},{88,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,298},{74,70}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,444},{74,62}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,67},{74,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,182},{76,82}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,42},{76,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,160},{94,88}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{94,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{106,96}}</string>
                <key>offset</key>
                <string>{-10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{106,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,262},{78,68}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,570},{76,54}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,76},{76,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,236},{84,60}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,70},{84,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,478},{66,66}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,79},{66,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,566},{56,58}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,73},{56,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,590},{54,64}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,64},{54,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,528},{64,72}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,57},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,600},{64,60}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,68},{64,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,92},{76,84}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,46},{76,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{112,106}}</string>
                <key>offset</key>
                <string>{29,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,34},{112,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{92,126}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,20},{92,126}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{108,96}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,52},{108,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,594},{60,68}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,79},{60,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,546},{64,66}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,79},{64,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,564},{68,62}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,79},{68,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,250},{88,64}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,74},{88,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,536},{70,62}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,65},{70,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,626},{68,68}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,59},{68,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,316},{58,64}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,64},{58,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,508},{74,54}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{74,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,474},{94,68}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,58},{94,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{134,90}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,36},{134,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{120,92}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{120,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{100,88}}</string>
                <key>offset</key>
                <string>{17,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{100,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,462},{76,64}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,62},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,316},{80,58}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,69},{80,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,324},{82,54}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,73},{82,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,334},{78,64}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,81},{78,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,400},{78,60}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,83},{78,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,102},{78,62}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,81},{78,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,656},{66,70}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,70},{66,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,556},{68,70}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{68,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,488},{66,70}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,70},{66,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,630},{66,66}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,79},{66,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,334},{66,68}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,78},{66,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,342},{68,66}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,78},{68,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,474},{90,64}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,74},{90,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,86},{90,64}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,75},{90,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,626},{94,64}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,74},{94,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,178},{82,72}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,80},{82,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,178},{82,64}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,80},{82,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,380},{80,66}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,78},{80,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,376},{82,66}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,78},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,516},{68,72}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,64},{68,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,370},{72,72}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{72,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,254},{68,80}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,64},{68,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,260},{72,80}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{72,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,168},{80,66}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,78},{80,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,262},{78,64}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,80},{78,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,448},{78,66}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,78},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,468},{76,66}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,78},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,178},{98,74}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{98,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,100},{104,74}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,62},{104,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{104,82}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,62},{104,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangtong_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,102},{98,74}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{98,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangtong.pvr.ccz</string>
            <key>size</key>
            <string>{724,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17e1f7c464ef89758f2bbab919abe2c2:1/1$</string>
            <key>textureFileName</key>
            <string>pangtong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
