<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangde_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,798},{106,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,76},{106,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,228},{114,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,69},{114,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,338},{104,88}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,62},{104,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,684},{108,76}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,73},{108,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,762},{118,80}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{118,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,124},{132,84}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,70},{132,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,306},{152,114}}</string>
                <key>offset</key>
                <string>{27,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,38},{152,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{146,142}}</string>
                <key>offset</key>
                <string>{25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,15},{146,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{174,164}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{174,164}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{172,146}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,35},{172,146}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{170,104}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,75},{170,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{166,108}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,71},{166,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,452},{82,78}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,72},{82,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,844},{120,74}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,81},{120,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,212},{126,70}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,86},{126,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,258},{114,86}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,77},{114,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,762},{110,96}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,73},{110,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,382},{116,98}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,71},{116,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,482},{112,96}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{112,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,642},{108,118}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,36},{108,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{198,126}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{198,126}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,136}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{206,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{200,122}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,33},{200,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{188,120}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{188,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,786},{84,80}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{84,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,112},{114,82}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,69},{114,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,448},{126,76}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,69},{126,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,684},{108,76}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{108,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,872},{102,74}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{102,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,344},{106,82}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,61},{106,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,574},{106,108}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,36},{106,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,284},{96,126}}</string>
                <key>offset</key>
                <string>{12,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,21},{96,126}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{130,150}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{130,150}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,130},{136,132}}</string>
                <key>offset</key>
                <string>{31,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,49},{136,132}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,242},{134,92}}</string>
                <key>offset</key>
                <string>{32,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,84},{134,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,112},{130,100}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,75},{130,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,676},{120,70}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,74},{120,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,762},{118,80}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,75},{118,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,874},{102,92}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,73},{102,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,336},{110,92}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,72},{110,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,444},{126,78}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,79},{126,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,844},{136,84}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,75},{136,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,214},{132,94}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,63},{132,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,124},{136,116}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{136,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,614},{146,116}}</string>
                <key>offset</key>
                <string>{14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{146,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,460},{152,118}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,30},{152,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,844},{142,108}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,40},{142,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,140},{140,104}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,43},{140,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,676},{106,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,76},{106,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,382},{106,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,76},{106,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,576},{106,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,76},{106,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,798},{84,78}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,72},{84,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,500},{84,78}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,72},{84,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,704},{84,80}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,71},{84,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,580},{84,80}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,73},{84,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,878},{84,80}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{84,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,762},{84,80}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{84,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,676},{120,70}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,74},{120,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,380},{118,70}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,74},{118,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,642},{118,70}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,74},{118,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,444},{126,104}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,42},{126,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,448},{124,104}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,42},{124,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,108},{128,102}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{128,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,338},{126,104}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,42},{126,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,310},{132,68}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{132,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,844},{130,68}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,76},{130,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,268},{132,68}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,76},{132,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,572},{130,68}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,76},{130,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,580},{98,94}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{98,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,862},{98,92}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,51},{98,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,762},{98,94}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{98,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,580},{98,94}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,50},{98,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,618},{84,72}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,72},{84,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,868},{80,72}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,73},{80,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,532},{84,72}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,73},{84,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>pangde_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,374},{84,72}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,74},{84,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangde.pvr.ccz</string>
            <key>size</key>
            <string>{988,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0608045ea73a02a784ccb78a5e6aa5a6:1/1$</string>
            <key>textureFileName</key>
            <string>pangde.pvr.ccz</string>
        </dict>
    </dict>
</plist>
