<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiangbing_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,704},{64,48}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,70},{64,48}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,590},{68,46}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,69},{68,46}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,348},{72,48}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,68},{72,48}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,346},{74,52}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,69},{74,52}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,394},{104,70}}</string>
                <key>offset</key>
                <string>{-33,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,69},{104,70}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,244},{108,76}}</string>
                <key>offset</key>
                <string>{-36,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{108,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,704},{98,64}}</string>
                <key>offset</key>
                <string>{-41,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{98,64}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,500},{102,60}}</string>
                <key>offset</key>
                <string>{-39,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,74},{102,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,570},{64,42}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,75},{64,42}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,660},{64,42}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,77},{64,42}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,500},{68,42}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,77},{68,42}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,400},{76,48}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,67},{76,48}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,322},{108,70}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{108,70}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,522},{116,88}}</string>
                <key>offset</key>
                <string>{-30,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{116,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,534},{102,80}}</string>
                <key>offset</key>
                <string>{-34,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{102,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,408},{108,76}}</string>
                <key>offset</key>
                <string>{-30,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,39},{108,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,500},{62,54}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,77},{62,54}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,704},{60,54}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,77},{60,54}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,714},{60,54}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,75},{60,54}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{74,54}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,79},{74,54}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,612},{110,56}}</string>
                <key>offset</key>
                <string>{22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,80},{110,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,408},{108,56}}</string>
                <key>offset</key>
                <string>{34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,78},{108,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,174},{118,62}}</string>
                <key>offset</key>
                <string>{30,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,82},{118,62}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,490},{98,60}}</string>
                <key>offset</key>
                <string>{34,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,79},{98,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,600},{58,42}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,74},{58,42}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,660},{60,42}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,76},{60,42}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,556},{62,42}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,77},{62,42}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,450},{70,48}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,65},{70,48}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,518},{90,72}}</string>
                <key>offset</key>
                <string>{27,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,38},{90,72}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,238},{114,80}}</string>
                <key>offset</key>
                <string>{31,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,31},{114,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,320},{104,86}}</string>
                <key>offset</key>
                <string>{34,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,27},{104,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,398},{90,76}}</string>
                <key>offset</key>
                <string>{35,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{90,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,616},{132,84}}</string>
                <key>offset</key>
                <string>{-24,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,67},{132,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,436},{132,84}}</string>
                <key>offset</key>
                <string>{-24,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{132,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,400},{132,84}}</string>
                <key>offset</key>
                <string>{-24,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,67},{132,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,350},{132,84}}</string>
                <key>offset</key>
                <string>{-24,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{132,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,166},{142,76}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{142,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,88},{142,76}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{142,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,612},{140,76}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,75},{140,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,616},{140,76}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,75},{140,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,518},{92,68}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,77},{92,68}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,610},{102,60}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,76},{102,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,604},{98,64}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,77},{98,64}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,244},{102,60}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,76},{102,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,176},{138,82}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,68},{138,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,88},{170,84}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,66},{170,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,444},{170,84}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,66},{170,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{170,84}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,66},{170,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,88},{128,88}}</string>
                <key>offset</key>
                <string>{-26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{128,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,260},{130,88}}</string>
                <key>offset</key>
                <string>{-25,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{130,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,218},{126,88}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{126,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,82},{130,90}}</string>
                <key>offset</key>
                <string>{-25,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{130,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,616},{150,90}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{150,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,260},{138,90}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{138,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{140,90}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{140,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,82},{150,92}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{150,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{178,78}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,76},{178,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{180,78}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{180,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{180,78}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{180,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{178,78}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,76},{178,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{176,82}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{176,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,266},{176,82}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{176,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,88},{176,82}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{176,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>qiangbing_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,84}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{176,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiangbing.pvr.ccz</string>
            <key>size</key>
            <string>{770,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:902467cb9bd237c04124277359c3ea61:1/1$</string>
            <key>textureFileName</key>
            <string>qiangbing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
