<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenhuangzhong_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,732},{48,64}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{48,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,506},{72,56}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,724},{56,64}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,80},{56,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,462},{64,72}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,668},{90,94}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,50},{90,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,142},{90,94}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,50},{90,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,234},{74,84}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{74,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,230},{64,80}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{64,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,312},{72,78}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{72,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,270},{110,80}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,64},{110,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{148,92}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,66},{148,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{144,110}}</string>
                <key>offset</key>
                <string>{-37,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{144,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,270},{80,80}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{80,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,310},{80,64}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{80,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,392},{72,74}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{72,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,724},{88,78}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{88,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,454},{104,100}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,44},{104,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,352},{104,100}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,44},{104,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,556},{92,94}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,50},{92,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,230},{86,84}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{86,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,448},{72,76}}</string>
                <key>offset</key>
                <string>{23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,68},{72,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{120,112}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,32},{120,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{152,140}}</string>
                <key>offset</key>
                <string>{-17,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{152,140}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,144}}</string>
                <key>offset</key>
                <string>{-25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,504},{78,50}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{78,50}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,704},{70,56}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,80},{70,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,560},{72,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,72},{72,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{88,72}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{88,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{132,130}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,28},{132,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{132,130}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,28},{132,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,144},{112,112}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{112,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,652},{86,84}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,52},{86,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,466},{74,74}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,62},{74,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{138,74}}</string>
                <key>offset</key>
                <string>{40,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,66},{138,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,580},{142,88}}</string>
                <key>offset</key>
                <string>{38,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,59},{142,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,376},{80,54}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{80,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,634},{56,72}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{56,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,588},{64,68}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,556},{46,76}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{46,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,228},{80,88}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,64},{80,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,148},{112,120}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{112,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,116},{112,120}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{112,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,556},{84,110}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,42},{84,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,454},{76,100}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{76,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,738},{64,88}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,64},{64,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,114},{112,120}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,32},{112,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{142,144}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{142,144}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{154,152}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{154,152}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,732},{48,64}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,80},{48,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,666},{48,64}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{48,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,662},{64,60}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{64,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,724},{58,64}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,80},{58,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,352},{80,76}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,68},{80,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,430},{80,72}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{80,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,316},{80,66}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{80,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,274},{80,76}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,68},{80,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,390},{80,56}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{80,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,384},{80,56}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{80,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,502},{72,56}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{72,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,216},{72,56}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{72,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,708},{56,72}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{56,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,522},{64,68}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,76},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,658},{64,64}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,80},{64,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,634},{64,68}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,542},{56,68}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,76},{56,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,600},{48,64}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,72},{48,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,672},{56,58}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,70},{56,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,612},{56,58}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,70},{56,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,536},{74,70}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,66},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,134},{80,72}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,64},{80,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,352},{82,80}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,64},{82,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,564},{64,68}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,68},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,442},{78,62}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,74},{78,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,432},{80,68}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,68},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,708},{72,62}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,74},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,600},{64,60}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{64,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,388},{64,72}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,634},{56,72}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{56,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,310},{64,76}}</string>
                <key>offset</key>
                <string>{-29,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,68},{64,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenhuangzhong_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,316},{64,72}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenhuangzhong.pvr.ccz</string>
            <key>size</key>
            <string>{804,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb2fbd61fba65476556c0af4e26d8728:1/1$</string>
            <key>textureFileName</key>
            <string>shenhuangzhong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
