<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenzhaoyun_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,758},{70,80}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,65},{70,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,338},{98,66}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,79},{98,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,766},{110,82}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,63},{110,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,380},{146,140}}</string>
                <key>offset</key>
                <string>{-36,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{146,140}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,522},{130,144}}</string>
                <key>offset</key>
                <string>{-29,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,64},{130,144}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,394},{130,142}}</string>
                <key>offset</key>
                <string>{-29,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,76},{130,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,144},{120,124}}</string>
                <key>offset</key>
                <string>{-34,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,85},{120,124}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,148},{136,92}}</string>
                <key>offset</key>
                <string>{-33,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,76},{136,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,146},{130,108}}</string>
                <key>offset</key>
                <string>{-44,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{130,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,666},{122,98}}</string>
                <key>offset</key>
                <string>{-41,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,82},{122,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,764},{106,88}}</string>
                <key>offset</key>
                <string>{-33,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,80},{106,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,642},{106,78}}</string>
                <key>offset</key>
                <string>{-33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,83},{106,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,722},{106,80}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{106,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,730},{90,72}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,73},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{90,92}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,53},{90,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,526},{132,114}}</string>
                <key>offset</key>
                <string>{-15,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{132,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,526},{130,138}}</string>
                <key>offset</key>
                <string>{-22,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{130,138}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,148},{138,130}}</string>
                <key>offset</key>
                <string>{-26,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{138,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,126},{148,114}}</string>
                <key>offset</key>
                <string>{-35,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{148,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,242},{148,136}}</string>
                <key>offset</key>
                <string>{-11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{148,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,280},{136,122}}</string>
                <key>offset</key>
                <string>{-41,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{136,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,404},{134,120}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{134,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,666},{90,72}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,57},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,374},{96,74}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,55},{96,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,572},{98,78}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,74},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,752},{82,66}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,86},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,572},{98,78}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,74},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,264},{146,128}}</string>
                <key>offset</key>
                <string>{36,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,48},{146,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{146,140}}</string>
                <key>offset</key>
                <string>{36,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,56},{146,140}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,134},{146,128}}</string>
                <key>offset</key>
                <string>{36,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{146,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,256},{98,80}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{98,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{152,144}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{152,144}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,168}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{178,168}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,668},{130,94}}</string>
                <key>offset</key>
                <string>{44,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,83},{130,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,884},{90,82}}</string>
                <key>offset</key>
                <string>{23,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,86},{90,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,490},{96,82}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,86},{96,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,804},{82,78}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,79},{82,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,634},{90,74}}</string>
                <key>offset</key>
                <string>{-34,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,78},{90,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{188,122}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{188,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{192,136}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{192,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{160,130}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{160,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{176,130}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{176,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,286},{114,114}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{114,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{138,142}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{138,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{168,128}}</string>
                <key>offset</key>
                <string>{21,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,8},{168,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{168,132}}</string>
                <key>offset</key>
                <string>{22,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,4},{168,132}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,526},{106,74}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,62},{106,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,880},{70,82}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,63},{70,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,818},{66,82}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{66,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,876},{66,82}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,63},{66,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,804},{70,82}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,63},{70,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,286},{102,78}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,67},{102,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,270},{102,74}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,71},{102,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,854},{106,78}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,67},{106,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,850},{106,80}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,65},{106,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,588},{98,78}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,74},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,486},{98,78}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,74},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,484},{98,78}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,74},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,406},{98,78}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,74},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,672},{82,78}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,79},{82,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,402},{80,80}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,78},{80,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,668},{82,78}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,79},{82,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,584},{82,78}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,79},{82,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,390},{98,78}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,67},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,668},{98,60}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,69},{98,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,752},{98,64}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,65},{98,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,850},{92,66}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,63},{92,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,902},{66,68}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,68},{66,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,884},{66,82}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,63},{66,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,902},{66,72}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,73},{66,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,898},{66,74}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,71},{66,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,566},{98,74}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,70},{98,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Rightdown_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,830},{66,78}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,74},{66,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,472},{98,72}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,72},{98,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Rightdown_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,820},{66,80}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,72},{66,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,726},{90,76}}</string>
                <key>offset</key>
                <string>{-41,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,68},{90,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Rightdown_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,820},{66,80}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,70},{66,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,804},{82,74}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,71},{82,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenzhaoyun_run_Rightdown_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,902},{66,78}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,74},{66,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenzhaoyun.pvr.ccz</string>
            <key>size</key>
            <string>{976,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8390751062cb78e74f66f720aea99492:1/1$</string>
            <key>textureFileName</key>
            <string>shenzhaoyun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
