<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenguanyu_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,572},{64,84}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,60},{64,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,940},{56,98}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,46},{56,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,104},{96,92}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,52},{96,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,458},{106,140}}</string>
                <key>offset</key>
                <string>{-34,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,60},{106,140}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,104},{196,96}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,64},{196,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,202},{150,100}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,60},{150,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,458},{142,100}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,52},{142,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{174,192}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{174,192}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{164,168}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{164,168}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,376},{128,128}}</string>
                <key>offset</key>
                <string>{-45,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{128,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,940},{96,80}}</string>
                <key>offset</key>
                <string>{-29,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,96},{96,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,722},{104,80}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,80},{104,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,636},{138,80}}</string>
                <key>offset</key>
                <string>{40,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{138,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,560},{138,72}}</string>
                <key>offset</key>
                <string>{40,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{138,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,566},{138,68}}</string>
                <key>offset</key>
                <string>{40,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,60},{138,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,132},{218,80}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{218,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,732},{192,110}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,56},{192,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{202,112}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{202,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,588},{136,102}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{136,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{168,96}}</string>
                <key>offset</key>
                <string>{-25,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{168,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,360},{144,96}}</string>
                <key>offset</key>
                <string>{-37,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{144,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,360},{144,96}}</string>
                <key>offset</key>
                <string>{-37,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{144,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,202},{126,64}}</string>
                <key>offset</key>
                <string>{-30,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,64},{126,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,458},{112,72}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,64},{112,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,848},{134,56}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,80},{134,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,368},{144,68}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{144,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,438},{144,106}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{144,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{212,100}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,76},{212,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{192,132}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{192,132}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,214},{160,120}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,40},{160,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,692},{128,120}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,40},{128,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,184}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{202,184}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{178,160}}</string>
                <key>offset</key>
                <string>{20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,48},{178,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{128,136}}</string>
                <key>offset</key>
                <string>{45,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,72},{128,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,926},{112,80}}</string>
                <key>offset</key>
                <string>{27,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,96},{112,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,638},{102,86}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,82},{102,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,418},{56,110}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{56,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,716},{72,136}}</string>
                <key>offset</key>
                <string>{-33,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,51},{72,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,920},{116,126}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,56},{116,126}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,814},{104,132}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,44},{104,132}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,206},{152,152}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{152,152}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,206},{144,152}}</string>
                <key>offset</key>
                <string>{-37,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,152}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,214},{152,152}}</string>
                <key>offset</key>
                <string>{-33,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{152,152}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{218,128}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{218,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,100},{206,104}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{206,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{218,96}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,726},{106,72}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{106,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,940},{96,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,64},{96,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,572},{64,84}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,60},{64,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,786},{64,76}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,68},{64,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,858},{64,80}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{64,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,852},{72,84}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,60},{72,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,634},{138,80}}</string>
                <key>offset</key>
                <string>{40,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{138,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,718},{128,80}}</string>
                <key>offset</key>
                <string>{35,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{128,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,906},{128,78}}</string>
                <key>offset</key>
                <string>{35,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,66},{128,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,506},{138,80}}</string>
                <key>offset</key>
                <string>{40,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{138,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,800},{134,56}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,80},{134,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,906},{128,56}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,80},{128,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,800},{122,56}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,80},{122,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,790},{136,56}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,80},{136,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,354},{56,110}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{56,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,530},{56,104}}</string>
                <key>offset</key>
                <string>{-33,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{56,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,728},{56,104}}</string>
                <key>offset</key>
                <string>{-33,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,64},{56,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,692},{56,110}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{56,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,940},{96,72}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,64},{96,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,360},{96,72}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,64},{96,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,638},{88,80}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,64},{88,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,632},{88,72}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,64},{88,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,858},{104,80}}</string>
                <key>offset</key>
                <string>{39,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,64},{104,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,858},{116,80}}</string>
                <key>offset</key>
                <string>{45,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,64},{116,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,254},{116,80}}</string>
                <key>offset</key>
                <string>{45,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,64},{116,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,336},{106,80}}</string>
                <key>offset</key>
                <string>{40,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,64},{106,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,938},{96,78}}</string>
                <key>offset</key>
                <string>{-29,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,66},{96,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,100},{112,76}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,68},{112,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,178},{112,74}}</string>
                <key>offset</key>
                <string>{-37,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,70},{112,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,526},{104,78}}</string>
                <key>offset</key>
                <string>{-33,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,66},{104,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,466},{80,104}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{80,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,932},{80,102}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{80,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,418},{80,106}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{80,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenguanyu_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,828},{80,102}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,63},{80,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenguanyu.pvr.ccz</string>
            <key>size</key>
            <string>{1040,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f611b02e2ff3dee17f009935d249a8b:1/1$</string>
            <key>textureFileName</key>
            <string>shenguanyu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
