<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenmachao_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,900},{64,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,460},{80,98}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,22},{80,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,668},{102,108}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,20},{102,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,700},{144,88}}</string>
                <key>offset</key>
                <string>{37,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,32},{144,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,672},{138,92}}</string>
                <key>offset</key>
                <string>{40,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,33},{138,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{134,126}}</string>
                <key>offset</key>
                <string>{38,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,41},{134,126}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,646},{146,124}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,50},{146,124}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,900},{132,122}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,52},{132,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,542},{128,94}}</string>
                <key>offset</key>
                <string>{35,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,50},{128,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,262},{174,118}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{174,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{166,112}}</string>
                <key>offset</key>
                <string>{-26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{166,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,296},{160,108}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{160,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,830},{64,72}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,72},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,900},{122,92}}</string>
                <key>offset</key>
                <string>{48,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,52},{122,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,548},{118,90}}</string>
                <key>offset</key>
                <string>{48,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,46},{118,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,772},{144,122}}</string>
                <key>offset</key>
                <string>{34,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,38},{144,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,678},{120,124}}</string>
                <key>offset</key>
                <string>{31,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{120,124}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,700},{120,128}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,48},{120,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,410},{154,134}}</string>
                <key>offset</key>
                <string>{32,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{154,134}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,294},{154,150}}</string>
                <key>offset</key>
                <string>{32,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{154,150}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,546},{150,98}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{150,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{206,154}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,154}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,114},{186,156}}</string>
                <key>offset</key>
                <string>{-16,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,156}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{200,160}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,970},{64,68}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,60},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,338},{96,120}}</string>
                <key>offset</key>
                <string>{-45,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{96,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,778},{112,120}}</string>
                <key>offset</key>
                <string>{-45,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{112,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,542},{134,144}}</string>
                <key>offset</key>
                <string>{-40,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,896},{120,136}}</string>
                <key>offset</key>
                <string>{-41,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{120,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,272},{136,156}}</string>
                <key>offset</key>
                <string>{-33,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,156}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{156,148}}</string>
                <key>offset</key>
                <string>{-28,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{156,148}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,406},{134,148}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{134,148}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,696},{132,144}}</string>
                <key>offset</key>
                <string>{-41,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{132,144}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{208,150}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{208,150}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{194,110}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,73},{194,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,154},{186,106}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,78},{186,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,900},{56,80}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{56,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,570},{80,128}}</string>
                <key>offset</key>
                <string>{-37,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,56},{80,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,382},{96,158}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,32},{96,158}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,164},{128,160}}</string>
                <key>offset</key>
                <string>{-45,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,446},{118,152}}</string>
                <key>offset</key>
                <string>{-50,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{118,152}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,566},{128,148}}</string>
                <key>offset</key>
                <string>{-45,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{128,148}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,480},{144,138}}</string>
                <key>offset</key>
                <string>{-37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{144,138}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{144,136}}</string>
                <key>offset</key>
                <string>{-37,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{144,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{128,132}}</string>
                <key>offset</key>
                <string>{-45,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{128,132}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,150}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,150}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{198,140}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{198,140}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,158},{180,136}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{180,136}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,900},{64,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,970},{64,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,76},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,900},{64,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,900},{64,72}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,72},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,970},{64,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,76},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,900},{64,72}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,72},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{72,68}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{72,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,812},{64,72}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,72},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,900},{64,68}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,830},{64,68}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,830},{64,68}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,830},{64,68}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,620},{56,80}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,64},{56,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,620},{56,78}}</string>
                <key>offset</key>
                <string>{-33,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{56,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,488},{56,80}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{56,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,406},{56,80}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{56,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,974},{48,66}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,69},{48,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,972},{68,62}}</string>
                <key>offset</key>
                <string>{17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,66},{68,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,974},{48,62}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,74},{48,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,982},{48,66}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,70},{48,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,830},{64,72}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,72},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,344},{72,70}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,66},{72,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,272},{72,70}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,66},{72,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,830},{64,72}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,64},{64,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,830},{64,68}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,830},{64,68}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,830},{64,68}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,900},{64,70}}</string>
                <key>offset</key>
                <string>{-29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,58},{64,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,482},{64,82}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,62},{64,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,416},{64,82}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,62},{64,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,248},{64,88}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{64,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>shenmachao_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,158},{64,88}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{64,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenmachao.pvr.ccz</string>
            <key>size</key>
            <string>{1036,1036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b95ec3ed1830d9bef75df59d9d1ef10:1/1$</string>
            <key>textureFileName</key>
            <string>shenmachao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
