<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>simayi_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,354},{84,66}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,78},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,652},{62,54}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,78},{62,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,568},{52,52}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,80},{52,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,98},{78,74}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,61},{78,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,322},{80,76}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{80,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,690},{100,100}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,45},{100,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{122,102}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,34},{122,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{124,116}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,21},{124,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{132,122}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,12},{132,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{110,132}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,2},{110,132}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,380},{92,120}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,13},{92,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,274},{78,114}}</string>
                <key>offset</key>
                <string>{16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,18},{78,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,652},{70,62}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,79},{70,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,518},{48,54}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,78},{48,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,582},{50,52}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,78},{50,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,400},{80,56}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{80,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,296},{86,84}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,46},{86,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,482},{108,96}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{108,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{126,108}}</string>
                <key>offset</key>
                <string>{10,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,25},{126,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{134,112}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,20},{134,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,118}}</string>
                <key>offset</key>
                <string>{13,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{138,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{116,126}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,6},{116,126}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,100},{82,120}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,12},{82,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,714},{90,82}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,49},{90,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,562},{76,66}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,622},{44,52}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,78},{44,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,668},{48,50}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,79},{48,50}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,226},{92,72}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,60},{92,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,122},{122,70}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{122,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,184},{116,88}}</string>
                <key>offset</key>
                <string>{23,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,47},{116,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,502},{92,96}}</string>
                <key>offset</key>
                <string>{26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,39},{92,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,184},{96,110}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{96,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,228},{92,114}}</string>
                <key>offset</key>
                <string>{15,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,20},{92,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{104,120}}</string>
                <key>offset</key>
                <string>{12,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,12},{104,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,120},{104,118}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,14},{104,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,580},{104,108}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,716},{66,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,73},{66,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,242},{58,52}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,74},{58,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,524},{56,52}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,74},{56,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,116},{106,52}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,72},{106,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,246},{132,84}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,43},{132,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{134,96}}</string>
                <key>offset</key>
                <string>{15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,33},{134,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,364},{116,106}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,23},{116,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,246},{116,106}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,23},{116,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,600},{102,112}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,17},{102,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,120},{106,118}}</string>
                <key>offset</key>
                <string>{14,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,11},{106,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{94,122}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,6},{94,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,296},{90,94}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,33},{90,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,388},{82,66}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,78},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,100},{82,66}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,78},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,714},{82,68}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,77},{82,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,626},{72,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,79},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,588},{72,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,79},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,524},{72,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,79},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,456},{78,66}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,494},{78,66}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,73},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,558},{78,66}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,73},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,622},{66,68}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,72},{66,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,450},{68,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{68,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,426},{68,66}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,72},{68,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,568},{84,66}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,78},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,482},{84,66}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,77},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,320},{86,66}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,77},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,382},{86,66}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,178},{74,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,80},{74,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,630},{70,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,80},{70,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,408},{72,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,80},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,354},{70,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,80},{70,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,490},{78,66}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,73},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,422},{78,66}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,73},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,540},{80,66}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,73},{80,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,458},{80,68}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,72},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,692},{70,66}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,70},{70,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,716},{70,70}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{70,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,694},{70,68}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{70,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>simayi_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,692},{70,70}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{70,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>simayi.pvr.ccz</string>
            <key>size</key>
            <string>{798,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c081a9db4eb071818e3dccf38fccc8:1/1$</string>
            <key>textureFileName</key>
            <string>simayi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
