<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunce_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,664},{66,66}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,79},{66,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,434},{94,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,79},{94,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,168},{106,84}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,61},{106,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,186},{86,100}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,52},{86,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,294},{98,80}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,72},{98,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,200},{112,86}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,74},{112,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{128,80}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{128,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,116},{114,82}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,63},{114,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,80},{116,86}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,59},{116,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,150},{114,82}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,63},{114,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,508},{82,66}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,79},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,652},{66,66}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,79},{66,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,710},{70,54}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,80},{70,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,710},{70,62}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,77},{70,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,376},{96,52}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,79},{96,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,102},{108,82}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,51},{108,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,486},{88,84}}</string>
                <key>offset</key>
                <string>{-25,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,56},{88,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,104}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{136,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{130,112}}</string>
                <key>offset</key>
                <string>{-25,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{130,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,380},{92,82}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{92,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{108,88}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{108,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{122,98}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{122,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,430},{70,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,80},{70,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,650},{68,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,79},{68,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,720},{60,58}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,71},{60,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,644},{78,60}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,77},{78,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,500},{78,78}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,61},{78,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,508},{82,70}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{82,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,500},{78,70}}</string>
                <key>offset</key>
                <string>{33,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{78,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{124,76}}</string>
                <key>offset</key>
                <string>{29,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{124,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,66},{118,82}}</string>
                <key>offset</key>
                <string>{42,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,61},{118,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,430},{90,68}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{90,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{112,62}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,75},{112,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{126,62}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,79},{126,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,426},{72,58}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,76},{72,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,644},{64,58}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,71},{64,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,654},{54,60}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,71},{54,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,502},{88,62}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,73},{88,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,710},{70,58}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,72},{70,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,234},{104,58}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{104,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,274},{98,76}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,54},{98,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,184},{112,96}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,41},{112,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{130,92}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{130,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,342},{96,84}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,51},{96,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,282},{96,102}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,41},{96,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,84},{98,116}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,30},{98,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,710},{68,60}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,73},{68,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,650},{60,58}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,75},{60,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,710},{76,70}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{76,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{80,70}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,78},{80,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,580},{80,70}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,79},{80,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{78,70}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,78},{78,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,710},{78,66}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,80},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,572},{80,68}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,79},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{80,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,79},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,464},{80,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,80},{80,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,580},{78,68}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,640},{78,68}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,574},{78,68}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,710},{76,68}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,71},{76,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,608},{74,70}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,71},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,532},{74,70}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,71},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,592},{76,70}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{76,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,572},{74,70}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,71},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{102,68}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{102,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,254},{100,66}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,76},{100,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,288},{102,68}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{102,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,358},{102,66}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{102,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,426},{72,64}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,79},{72,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,710},{74,66}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,264},{76,64}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,79},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,186},{76,64}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,79},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,404},{94,80}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,59},{94,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,428},{94,78}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,60},{94,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,322},{96,80}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,60},{96,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,352},{94,80}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,59},{94,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{72,78}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,63},{72,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,572},{70,78}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,63},{70,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,566},{72,80}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,62},{72,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunce_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,502},{70,78}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,63},{70,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunce.pvr.ccz</string>
            <key>size</key>
            <string>{782,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b588d92b4623052f639df4a32f19ab51:1/1$</string>
            <key>textureFileName</key>
            <string>sunce.pvr.ccz</string>
        </dict>
    </dict>
</plist>
