<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunshangxiang_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,342},{70,60}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,80},{70,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{84,76}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,55},{84,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{88,76}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,55},{88,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,72}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,55},{98,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{98,68}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,59},{98,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{94,68}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,59},{94,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,148},{80,68}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,148},{70,68}}</string>
                <key>offset</key>
                <string>{20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,59},{70,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,446},{72,70}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,57},{72,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,78},{74,70}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,57},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,562},{48,52}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,79},{48,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,410},{44,50}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,79},{44,50}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,496},{64,60}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,78},{64,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,442},{68,74}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{68,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,368},{72,76}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,55},{72,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{84,76}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,55},{84,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{82,74}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,57},{82,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,464},{74,70}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,61},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,80},{72,66}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,65},{72,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,218},{64,66}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,65},{64,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,214},{68,64}}</string>
                <key>offset</key>
                <string>{20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,67},{68,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,512},{70,62}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,69},{70,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,506},{62,68}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,66},{62,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,284},{56,56}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,75},{56,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,294},{82,64}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,70},{82,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{86,74}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{86,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{86,74}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,49},{86,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{80,76}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,50},{80,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,214},{58,70}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,55},{58,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,424},{60,70}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,55},{60,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,286},{60,70}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,55},{60,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,78},{60,70}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,55},{60,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,350},{58,72}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,53},{58,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,360},{58,74}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,52},{58,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,498},{66,48}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,75},{66,48}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,364},{76,50}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,75},{76,50}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,150},{62,74}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,64},{62,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{70,82}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,49},{70,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{72,82}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{72,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{72,82}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,50},{72,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,518},{56,76}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,56},{56,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,432},{56,72}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,60},{56,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,358},{56,72}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,60},{56,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,518},{56,72}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,60},{56,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,212},{56,70}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,62},{56,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,340},{56,68}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,64},{56,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,280},{64,68}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,61},{64,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,424},{48,72}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,62},{48,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,150},{72,60}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,80},{72,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,576},{74,60}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,80},{74,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,576},{74,60}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,80},{74,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,274},{64,62}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,77},{64,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,208},{64,62}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,77},{64,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,358},{64,62}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,77},{64,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,218},{82,64}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,70},{82,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,148},{82,66}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,70},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,80},{84,66}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,69},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,284},{58,74}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{58,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,74},{60,74}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,65},{60,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,150},{56,74}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,65},{56,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,576},{74,60}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,80},{74,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,284},{78,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,80},{78,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,286},{80,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,80},{80,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,576},{76,60}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,80},{76,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,576},{70,60}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,78},{70,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,218},{64,60}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,79},{64,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,566},{60,60}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,79},{60,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,414},{66,60}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,79},{66,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,80},{82,66}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,69},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,216},{82,68}}</string>
                <key>offset</key>
                <string>{21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,68},{82,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{82,70}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,68},{82,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,378},{80,66}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,69},{80,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,436},{60,74}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,63},{60,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,76},{58,72}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,65},{58,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,150},{62,74}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,64},{62,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>sunshangxiang_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,284},{60,72}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,65},{60,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunshangxiang.pvr.ccz</string>
            <key>size</key>
            <string>{638,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10cc45bc485d2eaf87602c55abf9336a:1/1$</string>
            <key>textureFileName</key>
            <string>sunshangxiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
