<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taishici_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,270},{136,140}}</string>
                <key>offset</key>
                <string>{-25,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,70},{136,140}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,274},{150,124}}</string>
                <key>offset</key>
                <string>{-30,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{150,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,300},{152,120}}</string>
                <key>offset</key>
                <string>{-29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{152,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{162,142}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{162,142}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,308},{152,126}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{152,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,136},{146,132}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{146,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,270},{142,132}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,638},{144,128}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{144,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,426},{124,122}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{124,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{136,154}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{136,154}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,784},{98,128}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,35},{98,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,680},{118,108}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,61},{118,108}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,316},{154,120}}</string>
                <key>offset</key>
                <string>{-28,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{154,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{156,150}}</string>
                <key>offset</key>
                <string>{-27,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{156,150}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,152}}</string>
                <key>offset</key>
                <string>{-22,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{168,140}}</string>
                <key>offset</key>
                <string>{-21,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,140}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{166,128}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{166,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{160,132}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{160,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{158,134}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{158,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{150,134}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,868},{112,122}}</string>
                <key>offset</key>
                <string>{13,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,8},{112,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{168,128}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{168,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,146},{152,108}}</string>
                <key>offset</key>
                <string>{-14,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{152,108}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,404},{140,118}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{140,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,730},{60,58}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,68},{60,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,858},{64,56}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,66},{64,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,462},{126,128}}</string>
                <key>offset</key>
                <string>{42,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,23},{126,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{140,162}}</string>
                <key>offset</key>
                <string>{35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{140,162}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,132},{144,140}}</string>
                <key>offset</key>
                <string>{24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,6},{144,140}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,412},{138,134}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,2},{138,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,592},{136,126}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{136,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,454},{128,120}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,6},{128,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,800},{76,120}}</string>
                <key>offset</key>
                <string>{21,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,8},{76,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,584},{118,134}}</string>
                <key>offset</key>
                <string>{46,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,4},{118,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,878},{116,94}}</string>
                <key>offset</key>
                <string>{47,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,40},{116,94}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,666},{60,54}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,67},{60,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,524},{116,60}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{116,60}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,850},{118,68}}</string>
                <key>offset</key>
                <string>{32,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,61},{118,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,138},{146,130}}</string>
                <key>offset</key>
                <string>{17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{146,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,730},{136,130}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{136,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,884},{140,122}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{140,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,490},{146,120}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{146,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,154},{152,120}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{152,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,156},{158,114}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{158,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,720},{118,128}}</string>
                <key>offset</key>
                <string>{17,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,550},{102,128}}</string>
                <key>offset</key>
                <string>{22,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{102,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,548},{112,102}}</string>
                <key>offset</key>
                <string>{24,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,23},{112,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,662},{112,58}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,65},{112,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,784},{84,56}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,69},{84,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,482},{82,56}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{82,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,424},{82,56}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,70},{82,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,920},{86,56}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{86,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,792},{64,70}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,64},{64,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,788},{64,70}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,64},{64,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,778},{64,70}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,64},{64,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,850},{62,70}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,64},{62,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,918},{54,58}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,66},{54,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,918},{56,58}}</string>
                <key>offset</key>
                <string>{22,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,66},{56,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,916},{54,56}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,67},{54,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,870},{56,58}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,66},{56,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,668},{114,54}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,67},{114,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,662},{114,56}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,67},{114,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,652},{112,54}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,68},{112,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,550},{116,54}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,67},{116,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,666},{88,62}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{88,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,730},{84,56}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{84,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,850},{70,66}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{70,66}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,222},{72,56}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,73},{72,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,920},{86,64}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,69},{86,64}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,778},{76,70}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,65},{76,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,280},{82,82}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,48},{82,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,138},{72,82}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,51},{72,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,854},{62,62}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,67},{62,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,930},{62,56}}</string>
                <key>offset</key>
                <string>{28,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,72},{62,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,914},{62,60}}</string>
                <key>offset</key>
                <string>{24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,70},{62,60}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,918},{60,56}}</string>
                <key>offset</key>
                <string>{25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,72},{60,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,364},{82,58}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,65},{82,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,606},{96,58}}</string>
                <key>offset</key>
                <string>{16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,61},{96,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,540},{106,64}}</string>
                <key>offset</key>
                <string>{30,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,56},{106,64}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>taishici_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,586},{112,64}}</string>
                <key>offset</key>
                <string>{27,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,55},{112,64}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taishici.pvr.ccz</string>
            <key>size</key>
            <string>{1008,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99522c71eb03872f68e11a72e15362ea:1/1$</string>
            <key>textureFileName</key>
            <string>taishici.pvr.ccz</string>
        </dict>
    </dict>
</plist>
