<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weiyan_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,666},{100,60}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,85},{100,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,368},{98,70}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,82},{98,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,344},{100,68}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,86},{100,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,230},{112,74}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,87},{112,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,242},{124,84}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,72},{124,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,218},{118,110}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,51},{118,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{154,134}}</string>
                <key>offset</key>
                <string>{-32,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{154,134}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{126,132}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{126,132}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,114},{126,106}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,50},{126,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,328},{114,102}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,53},{114,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,208},{118,84}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,68},{118,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,272},{126,72}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,78},{126,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,400},{80,72}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,77},{80,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,412},{108,56}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,83},{108,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,552},{98,82}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{98,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,474},{108,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,77},{108,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,470},{104,80}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,62},{104,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{166,100}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,44},{166,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,132}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{188,132}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{152,108}}</string>
                <key>offset</key>
                <string>{28,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,36},{152,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{148,90}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,54},{148,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{138,96}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,49},{138,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,410},{120,62}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,80},{120,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,100},{104,70}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,77},{104,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,724},{72,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,82},{72,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,694},{104,72}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,86},{104,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,206},{98,70}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,89},{98,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,474},{112,80}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,77},{112,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,702},{102,94}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,63},{102,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,272},{136,114}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,45},{136,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{160,118}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{160,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{142,124}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,34},{142,124}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,474},{112,112}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{112,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,588},{112,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{112,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,584},{108,72}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,84},{108,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,602},{96,74}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,83},{96,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,432},{114,58}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{114,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,678},{94,74}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,80},{94,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,104},{124,72}}</string>
                <key>offset</key>
                <string>{31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,81},{124,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,414},{102,74}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,79},{102,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,94},{112,92}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,61},{112,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,104},{122,112}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{122,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{170,110}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,44},{170,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,136},{134,118}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,36},{134,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,100},{114,112}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,43},{114,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,214},{112,114}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{112,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,588},{108,78}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,77},{108,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,338},{110,72}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,78},{110,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,754},{100,60}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,85},{100,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,680},{98,60}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,85},{98,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,728},{98,60}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,84},{98,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,594},{80,70}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{80,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,790},{80,74}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{80,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,790},{82,74}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{82,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,666},{72,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,82},{72,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,782},{70,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,83},{70,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,606},{72,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,83},{72,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,328},{114,58}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,77},{114,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,548},{116,56}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,78},{116,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,806},{116,58}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,76},{116,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,490},{118,56}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,87},{118,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,652},{120,54}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,86},{120,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,492},{120,54}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,87},{120,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,548},{120,52}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,87},{120,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,444},{58,62}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,79},{58,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,508},{60,62}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,79},{60,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,782},{56,62}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,80},{56,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,800},{56,64}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,78},{56,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,520},{72,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,73},{72,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,378},{70,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{70,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,450},{68,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,72},{68,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,306},{70,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{70,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,702},{102,60}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,75},{102,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,806},{106,58}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,76},{106,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,698},{106,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,77},{106,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>weiyan_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,606},{104,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,75},{104,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weiyan.pvr.ccz</string>
            <key>size</key>
            <string>{866,866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f51b25aa5d19f5e67c05c7e0fe64de:1/1$</string>
            <key>textureFileName</key>
            <string>weiyan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
