<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahoudun_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,460},{64,98}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,31},{64,98}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,444},{82,96}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,33},{82,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,588},{90,90}}</string>
                <key>offset</key>
                <string>{27,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,41},{90,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,550},{82,78}}</string>
                <key>offset</key>
                <string>{24,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,53},{82,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,732},{80,72}}</string>
                <key>offset</key>
                <string>{28,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,51},{80,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,570},{96,78}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,46},{96,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,260},{98,86}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,41},{98,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,296},{120,102}}</string>
                <key>offset</key>
                <string>{31,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,22},{120,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{144,166}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{144,166}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{138,92}}</string>
                <key>offset</key>
                <string>{-34,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,96},{138,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,96},{132,104}}</string>
                <key>offset</key>
                <string>{-28,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,83},{132,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{114,146}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,33},{114,146}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{104,66}}</string>
                <key>offset</key>
                <string>{36,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,65},{104,66}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,460},{94,64}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,72},{94,64}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,672},{84,68}}</string>
                <key>offset</key>
                <string>{23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,78},{84,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{80,78}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,72},{80,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,466},{82,90}}</string>
                <key>offset</key>
                <string>{26,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,55},{82,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{90,96}}</string>
                <key>offset</key>
                <string>{24,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,48},{90,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,250},{108,94}}</string>
                <key>offset</key>
                <string>{23,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,45},{108,94}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{116,86}}</string>
                <key>offset</key>
                <string>{33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,53},{116,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{140,100}}</string>
                <key>offset</key>
                <string>{-35,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{140,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,198},{122,98}}</string>
                <key>offset</key>
                <string>{-44,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{122,98}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,202},{122,92}}</string>
                <key>offset</key>
                <string>{-44,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{122,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,70}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{192,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,606},{78,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{78,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,378},{72,86}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{72,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,372},{62,86}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,44},{62,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,732},{58,80}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,48},{58,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,738},{82,72}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,52},{82,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,650},{94,80}}</string>
                <key>offset</key>
                <string>{25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,47},{94,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,148},{110,82}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,44},{110,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,344},{98,104}}</string>
                <key>offset</key>
                <string>{18,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,30},{98,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{132,154}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,30},{132,154}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,104},{128,92}}</string>
                <key>offset</key>
                <string>{39,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,92},{128,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,148},{120,100}}</string>
                <key>offset</key>
                <string>{42,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{120,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,118},{126,120}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,53},{126,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,560},{64,66}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,81},{64,66}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,700},{52,62}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,83},{52,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,740},{64,62}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,82},{64,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,738},{72,70}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,75},{72,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,582},{84,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,59},{84,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,390},{82,96}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,50},{82,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,346},{80,102}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,46},{80,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,526},{78,90}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,53},{78,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,240},{116,102}}</string>
                <key>offset</key>
                <string>{21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,27},{116,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,298},{116,90}}</string>
                <key>offset</key>
                <string>{21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,36},{116,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,202},{112,72}}</string>
                <key>offset</key>
                <string>{23,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,46},{112,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,534},{92,92}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{92,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,528},{58,96}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,33},{58,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,474},{58,96}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,33},{58,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,400},{58,96}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,33},{58,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{58,96}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,33},{58,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{102,70}}</string>
                <key>offset</key>
                <string>{34,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,59},{102,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,498},{100,70}}</string>
                <key>offset</key>
                <string>{35,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,59},{100,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{102,68}}</string>
                <key>offset</key>
                <string>{35,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{102,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,428},{102,68}}</string>
                <key>offset</key>
                <string>{36,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,60},{102,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,508},{86,72}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{86,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{84,72}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,53},{84,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,434},{86,72}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{86,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,360},{86,72}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{86,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,742},{72,70}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,77},{72,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,660},{72,68}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,78},{72,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,630},{70,68}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,79},{70,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,742},{72,70}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,78},{72,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,316},{74,60}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,75},{74,60}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,740},{66,52}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,76},{66,52}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,680},{64,56}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,76},{64,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,686},{68,52}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,76},{68,52}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,516},{58,50}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,75},{58,50}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,628},{50,52}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,74},{50,52}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,700},{56,54}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,75},{56,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,756},{56,52}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,73},{56,52}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,626},{76,58}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,71},{76,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,576},{82,54}}</string>
                <key>offset</key>
                <string>{25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,72},{82,54}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,686},{78,58}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,73},{78,58}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,680},{80,56}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,71},{80,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,314},{44,56}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,69},{44,56}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,390},{42,62}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,65},{42,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,454},{42,60}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,67},{42,60}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>xiahoudun_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,250},{44,62}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,65},{44,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahoudun.pvr.ccz</string>
            <key>size</key>
            <string>{814,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba1db47021736d7c10f3f1ddefc84cd2:1/1$</string>
            <key>textureFileName</key>
            <string>xiahoudun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
