<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoqiao_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,340},{86,66}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,79},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,92},{88,72}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,72},{88,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,170},{98,76}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,76},{98,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,754},{98,94}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,66},{98,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,756},{114,96}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{114,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,526},{106,92}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,53},{106,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,634},{112,106}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,46},{112,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,186},{100,112}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,40},{100,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,288},{106,114}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{106,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,634},{116,118}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{116,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,416},{120,122}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{120,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,428},{106,124}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{106,124}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,478},{74,64}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,80},{74,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,472},{98,72}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,77},{98,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,182},{84,88}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,55},{84,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,84},{98,84}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{98,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,92},{108,88}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,60},{108,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,404},{120,90}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,59},{120,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,288},{138,96}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,56},{138,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{150,88}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,56},{150,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{168,100}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{168,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{178,92}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,55},{178,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{178,90}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,54},{178,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,88}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{190,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,472},{74,70}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,77},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,474},{82,72}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,78},{82,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,170},{84,74}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,79},{84,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,106},{102,78}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,75},{102,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,194},{106,82}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{106,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,554},{116,78}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{116,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,106},{136,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,69},{136,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{150,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,72},{150,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{166,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,65},{166,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{152,100}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{152,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{158,102}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,64},{158,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{166,100}}</string>
                <key>offset</key>
                <string>{23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,67},{166,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,406},{86,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,78},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,634},{88,70}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,78},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,182},{98,86}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,58},{98,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,278},{94,94}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,47},{94,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,104},{84,88}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,54},{84,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,374},{96,88}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,55},{96,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,748},{102,104}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,40},{102,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,754},{98,106}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,42},{98,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,288},{126,112}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,42},{126,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,634},{110,120}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,39},{110,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,540},{92,116}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,36},{92,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,186},{100,118}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,34},{100,118}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,338},{86,66}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,80},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,334},{86,66}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,81},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,272},{86,66}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,81},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,756},{74,62}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,81},{74,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,402},{74,64}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,80},{74,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,692},{74,62}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,81},{74,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,400},{74,70}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,78},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,328},{74,70}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,78},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,548},{78,70}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,77},{78,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,476},{84,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,78},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,270},{86,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,77},{86,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,408},{84,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,78},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,626},{78,68}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,80},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,548},{78,68}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,81},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,628},{80,68}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,79},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,712},{80,68}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,80},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,612},{76,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,80},{76,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,572},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,81},{78,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,706},{76,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,80},{76,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,544},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,80},{80,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,544},{74,66}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,78},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,784},{72,68}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,77},{72,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,256},{74,70}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,77},{74,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,620},{70,68}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,78},{70,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,628},{82,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,78},{82,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,544},{74,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,78},{74,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,270},{76,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,78},{76,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xiaoqiao_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,710},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,78},{80,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoqiao.pvr.ccz</string>
            <key>size</key>
            <string>{854,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47932c6ad2571678c7551d01b841cfd1:1/1$</string>
            <key>textureFileName</key>
            <string>xiaoqiao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
