<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuchu_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,446},{78,76}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,62},{78,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,342},{84,72}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,66},{84,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,88},{80,74}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,64},{80,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,600},{72,74}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,64},{72,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,714},{94,76}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,62},{94,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{118,78}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,64},{118,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{122,104}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,65},{122,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{134,78}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,67},{134,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,174},{110,70}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,73},{110,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,532},{78,66}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,470},{82,60}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{82,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,440},{86,76}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,63},{86,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,246},{90,66}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,69},{90,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,516},{82,70}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,71},{82,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,436},{84,68}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,72},{84,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,358},{84,66}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{84,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,246},{96,66}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{96,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,524},{88,88}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,41},{88,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{130,84}}</string>
                <key>offset</key>
                <string>{-20,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{130,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{138,84}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,46},{138,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{136,76}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,55},{136,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,230},{90,56}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{90,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,322},{56,76}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,59},{56,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,358},{76,80}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,53},{76,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,488},{76,62}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,68},{76,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,734},{64,62}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,69},{64,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,734},{66,62}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,69},{66,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,734},{66,64}}</string>
                <key>offset</key>
                <string>{22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,67},{66,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,600},{78,72}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{78,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,96},{112,102}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,64},{112,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{150,78}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,64},{150,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,98}}</string>
                <key>offset</key>
                <string>{26,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,43},{134,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,88},{114,78}}</string>
                <key>offset</key>
                <string>{36,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,61},{114,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,436},{80,78}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,61},{80,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,612},{94,60}}</string>
                <key>offset</key>
                <string>{31,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,73},{94,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,708},{68,64}}</string>
                <key>offset</key>
                <string>{31,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,67},{68,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,674},{82,58}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,73},{82,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,400},{86,58}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,73},{86,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,618},{82,58}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,73},{82,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,674},{80,58}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{80,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,338},{106,66}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,72},{106,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{148,58}}</string>
                <key>offset</key>
                <string>{33,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,62},{148,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,210},{114,84}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,35},{114,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{132,92}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{132,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,246},{108,90}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,39},{108,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,712},{98,64}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,65},{98,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,712},{98,70}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,53},{98,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,108},{100,68}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,58},{100,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,506},{104,88}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,62},{104,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,506},{104,88}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,62},{104,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,338},{104,88}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,62},{104,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,416},{104,88}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,63},{104,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,222},{118,84}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{118,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,88},{118,84}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,69},{118,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,102},{118,84}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,70},{118,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{118,84}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{118,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,618},{94,76}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,68},{94,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,170},{92,74}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,70},{92,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,344},{94,76}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,68},{94,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,80},{92,74}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{92,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,686},{108,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,73},{108,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,612},{108,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,73},{108,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,506},{108,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,72},{108,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,326},{108,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,72},{108,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,712},{96,74}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,77},{96,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,614},{96,74}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,77},{96,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,156},{94,72}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,78},{94,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,246},{94,72}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,78},{94,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,288},{88,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,78},{88,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,618},{88,70}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,77},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,322},{88,70}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,78},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,250},{88,70}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,78},{88,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,528},{88,76}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,76},{88,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,168},{96,76}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{96,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,616},{94,76}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,75},{94,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,428},{94,76}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{94,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,178},{92,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,75},{92,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,426},{86,72}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,76},{86,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,528},{88,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,75},{88,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xuchu_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,394},{86,74}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{86,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuchu.pvr.ccz</string>
            <key>size</key>
            <string>{812,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e57b76afb988f9bb2e29c71de867ce1:1/1$</string>
            <key>textureFileName</key>
            <string>xuchu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
