<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangfei_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,774},{82,88}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,49},{82,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,570},{56,58}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,83},{56,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,264},{122,68}}</string>
                <key>offset</key>
                <string>{32,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{122,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,764},{76,54}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,78},{76,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,486},{80,60}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,79},{80,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,132},{126,80}}</string>
                <key>offset</key>
                <string>{23,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,56},{126,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{146,128}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{146,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{124,110}}</string>
                <key>offset</key>
                <string>{-26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{124,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,434},{122,64}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,77},{122,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,334},{116,52}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,87},{116,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,774},{82,56}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,84},{82,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,656},{62,56}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,76},{62,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,448},{120,84}}</string>
                <key>offset</key>
                <string>{27,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,57},{120,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,688},{88,68}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,62},{88,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,630},{54,54}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,82},{54,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,686},{76,54}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,77},{76,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,680},{92,68}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,66},{92,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,262},{70,96}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,54},{70,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{118,124}}</string>
                <key>offset</key>
                <string>{-14,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{118,124}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{106,122}}</string>
                <key>offset</key>
                <string>{-26,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{106,122}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,570},{92,108}}</string>
                <key>offset</key>
                <string>{-19,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{92,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,714},{50,52}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,76},{50,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,428},{78,90}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,38},{78,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,572},{106,66}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,63},{106,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,296},{86,54}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,73},{86,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,114},{124,52}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,78},{124,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,332},{86,94}}</string>
                <key>offset</key>
                <string>{22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,42},{86,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,152},{124,80}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,49},{124,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,156},{138,70}}</string>
                <key>offset</key>
                <string>{25,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,60},{138,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,680},{108,92}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,48},{108,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,138}}</string>
                <key>offset</key>
                <string>{38,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,2},{142,138}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{106,142}}</string>
                <key>offset</key>
                <string>{36,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,28},{106,142}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,262},{70,90}}</string>
                <key>offset</key>
                <string>{40,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,78},{70,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,168},{48,86}}</string>
                <key>offset</key>
                <string>{31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,78},{48,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,334},{110,68}}</string>
                <key>offset</key>
                <string>{38,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,84},{110,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,76},{142,74}}</string>
                <key>offset</key>
                <string>{35,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,53},{142,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,778},{78,52}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,76},{78,52}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,384},{70,94}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{70,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,778},{72,78}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,57},{72,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,234},{62,96}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,46},{62,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,576},{74,104}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,41},{74,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{144,82}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,57},{144,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{166,114}}</string>
                <key>offset</key>
                <string>{-15,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{166,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,334},{112,112}}</string>
                <key>offset</key>
                <string>{22,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,396},{92,88}}</string>
                <key>offset</key>
                <string>{29,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,32},{92,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,480},{88,46}}</string>
                <key>offset</key>
                <string>{26,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,73},{88,46}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,168},{120,92}}</string>
                <key>offset</key>
                <string>{43,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,40},{120,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,490},{56,106}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,35},{56,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,296},{96,98}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{96,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,682},{96,98}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,49},{96,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,682},{96,98}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,49},{96,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,334},{96,98}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{96,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{130,92}}</string>
                <key>offset</key>
                <string>{29,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,57},{130,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{132,92}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{132,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,726},{130,94}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,55},{130,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,132},{130,94}}</string>
                <key>offset</key>
                <string>{29,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,56},{130,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,508},{90,68}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,73},{90,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,618},{88,68}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{88,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,548},{90,68}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{90,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,548},{90,68}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,73},{90,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,452},{122,64}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,77},{122,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,452},{122,64}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,77},{122,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,558},{120,64}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,77},{120,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,448},{122,64}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,77},{122,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,86},{148,68}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,76},{148,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,578},{146,70}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,74},{146,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{148,72}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,73},{148,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,142},{150,70}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,74},{150,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,578},{76,80}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,68},{76,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,780},{76,80}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,68},{76,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,688},{78,80}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{78,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,780},{76,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,69},{76,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,576},{72,100}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,50},{72,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,304},{78,100}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{78,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,384},{74,100}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,49},{74,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,780},{76,98}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,51},{76,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,438},{126,66}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,75},{126,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,310},{126,66}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,75},{126,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,234},{124,68}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,74},{124,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangfei_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,228},{126,66}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,75},{126,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei.pvr.ccz</string>
            <key>size</key>
            <string>{858,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a289da9ccff9cd9a54654db656b54e0d:1/1$</string>
            <key>textureFileName</key>
            <string>zhangfei.pvr.ccz</string>
        </dict>
    </dict>
</plist>
