<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangliao_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,342},{82,112}}</string>
                <key>offset</key>
                <string>{26,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,33},{82,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,280},{128,112}}</string>
                <key>offset</key>
                <string>{35,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,33},{128,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,332},{140,96}}</string>
                <key>offset</key>
                <string>{39,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,48},{140,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,326},{140,82}}</string>
                <key>offset</key>
                <string>{39,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,62},{140,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,230},{138,100}}</string>
                <key>offset</key>
                <string>{38,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,45},{138,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{148,114}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{148,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,102},{122,146}}</string>
                <key>offset</key>
                <string>{-41,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,31},{122,146}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,146}}</string>
                <key>offset</key>
                <string>{-35,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{140,146}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,152}}</string>
                <key>offset</key>
                <string>{-37,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{144,152}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{136,144}}</string>
                <key>offset</key>
                <string>{-41,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{136,144}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,230},{66,100}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,45},{66,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,702},{90,110}}</string>
                <key>offset</key>
                <string>{30,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,35},{90,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,866},{82,94}}</string>
                <key>offset</key>
                <string>{26,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,39},{82,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,446},{114,76}}</string>
                <key>offset</key>
                <string>{42,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,60},{114,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,840},{94,74}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,75},{94,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,854},{56,84}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,76},{56,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,538},{118,76}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,76},{118,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,430},{130,90}}</string>
                <key>offset</key>
                <string>{18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,39},{130,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{160,106}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{160,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{166,116}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{166,116}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{168,128}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{168,128}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{168,106}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{168,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,734},{80,104}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,32},{80,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,462},{74,98}}</string>
                <key>offset</key>
                <string>{22,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,38},{74,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,854},{60,96}}</string>
                <key>offset</key>
                <string>{13,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,33},{60,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,866},{74,108}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,28},{74,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,332},{64,112}}</string>
                <key>offset</key>
                <string>{18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,24},{64,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,584},{74,106}}</string>
                <key>offset</key>
                <string>{22,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,30},{74,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,226},{82,114}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,31},{82,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,148},{122,130}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,30},{122,130}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{162,114}}</string>
                <key>offset</key>
                <string>{25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,46},{162,114}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{168,98}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{168,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{168,98}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{168,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,110},{170,88}}</string>
                <key>offset</key>
                <string>{24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{170,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,486},{96,98}}</string>
                <key>offset</key>
                <string>{35,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,47},{96,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,842},{64,96}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,33},{64,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,778},{90,86}}</string>
                <key>offset</key>
                <string>{27,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,44},{90,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,294},{58,74}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{58,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,906},{90,66}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,64},{90,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,638},{112,62}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{112,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,468},{110,68}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,70},{110,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,102},{188,60}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,70},{188,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,164},{148,64}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{148,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,800},{132,68}}</string>
                <key>offset</key>
                <string>{29,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,56},{132,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,658},{140,68}}</string>
                <key>offset</key>
                <string>{28,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,56},{140,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,598},{118,70}}</string>
                <key>offset</key>
                <string>{41,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,55},{118,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,560},{82,96}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,30},{82,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,768},{92,96}}</string>
                <key>offset</key>
                <string>{27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,35},{92,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,670},{108,106}}</string>
                <key>offset</key>
                <string>{23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,34},{108,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,660},{110,106}}</string>
                <key>offset</key>
                <string>{24,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,34},{110,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,794},{110,108}}</string>
                <key>offset</key>
                <string>{24,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,33},{110,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,654},{110,106}}</string>
                <key>offset</key>
                <string>{23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,34},{110,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,332},{128,104}}</string>
                <key>offset</key>
                <string>{39,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,39},{128,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,226},{128,104}}</string>
                <key>offset</key>
                <string>{38,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,39},{128,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,394},{128,102}}</string>
                <key>offset</key>
                <string>{39,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,40},{128,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,358},{128,102}}</string>
                <key>offset</key>
                <string>{39,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,40},{128,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,866},{86,102}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,38},{86,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,456},{82,102}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,38},{82,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,778},{86,102}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,38},{86,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,658},{84,102}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,37},{84,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,498},{126,98}}</string>
                <key>offset</key>
                <string>{19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{126,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,538},{126,98}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,43},{126,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,438},{126,98}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,43},{126,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,358},{126,98}}</string>
                <key>offset</key>
                <string>{19,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,43},{126,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,200},{142,78}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{142,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Leftdown_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,912},{72,70}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,72},{72,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,150},{142,78}}</string>
                <key>offset</key>
                <string>{35,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,65},{142,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Leftdown_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,916},{74,68}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{74,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,280},{142,76}}</string>
                <key>offset</key>
                <string>{34,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,66},{142,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Leftdown_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,908},{76,68}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,74},{76,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,156},{144,76}}</string>
                <key>offset</key>
                <string>{35,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,66},{144,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Leftdown_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,916},{72,68}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,73},{72,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Rightdown_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,538},{118,104}}</string>
                <key>offset</key>
                <string>{32,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,37},{118,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Rightdown_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,628},{116,104}}</string>
                <key>offset</key>
                <string>{31,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,37},{116,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Rightdown_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,644},{116,106}}</string>
                <key>offset</key>
                <string>{30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,36},{116,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Rightdown_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,522},{120,104}}</string>
                <key>offset</key>
                <string>{32,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,36},{120,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,752},{88,98}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,42},{88,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,762},{90,96}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,44},{90,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,762},{90,98}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{90,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhangliao_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,562},{90,98}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{90,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangliao.pvr.ccz</string>
            <key>size</key>
            <string>{986,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06926332faa11879dcabaa622e881312:1/1$</string>
            <key>textureFileName</key>
            <string>zhangliao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
