<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangjiao_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,283},{87,91}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{87,91}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{97,93}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,34},{97,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,633},{103,91}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,36},{103,91}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{127,111}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{127,111}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,518},{127,107}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{127,107}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{127,107}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{127,107}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,190},{87,91}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{87,91}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{85,89}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,38},{85,89}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,101},{95,93}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,34},{95,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,673},{95,87}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{95,87}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,485},{91,91}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{91,91}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,518},{113,93}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,34},{113,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,389},{127,93}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{127,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,260},{127,99}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{127,99}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,376},{91,87}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,40},{91,87}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{89,93}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,34},{89,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,469},{85,93}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{85,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,564},{87,89}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{87,89}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,655},{85,89}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{85,89}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,647},{127,105}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{127,105}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{127,109}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{127,109}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,297},{99,89}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{99,89}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,198},{97,91}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{97,91}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,97},{91,89}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{91,89}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,93},{95,79}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,48},{95,79}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,93},{91,77}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,50},{91,77}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,389},{127,93}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{127,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{127,111}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{127,111}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,578},{89,93}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,34},{89,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,388},{95,89}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{95,89}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>zhangjiao_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,522},{85,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,261},{85,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,350},{85,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,176},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,263},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,447},{83,69}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{83,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,360},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{83,69}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{83,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,89},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,176},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,273},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,437},{85,67}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,532},{85,67}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,89},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,186},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,273},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,619},{85,63}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{85,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,435},{85,65}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,87},{85,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,186},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,591},{83,67}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{83,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,591},{83,67}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{83,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,174},{85,67}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,263},{85,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,660},{83,65}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{83,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,350},{85,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,348},{85,65}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,89},{83,69}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{83,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{85,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>zhangjiao_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{85,69}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangjiao.pvr.ccz</string>
            <key>size</key>
            <string>{762,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c0d1d012cd6767ecdaa763c6a408c3c:1/1$</string>
            <key>textureFileName</key>
            <string>zhangjiao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
