<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaoyun_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,354},{172,158}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{172,158}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,182},{178,96}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,56},{178,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,174},{178,136}}</string>
                <key>offset</key>
                <string>{16,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,74},{178,136}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,676},{186,142}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{186,142}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,340},{184,164}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{184,164}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{202,178}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{202,178}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{202,170}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,40},{202,170}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{210,166}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{210,170}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{210,170}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,574},{206,140}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,70},{206,140}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,362},{210,130}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{210,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,354},{210,136}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{210,136}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,820},{132,158}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,52},{132,158}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,858},{130,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,52},{130,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1084},{126,100}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{126,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,526},{162,158}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{162,158}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{208,158}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{208,158}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{204,156}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,54},{204,156}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,526},{180,158}}</string>
                <key>offset</key>
                <string>{13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,52},{180,158}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,686},{184,162}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,48},{184,162}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,686},{180,162}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,48},{180,162}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,660},{152,188}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{152,188}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,514},{160,186}}</string>
                <key>offset</key>
                <string>{-25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{160,186}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,340},{160,184}}</string>
                <key>offset</key>
                <string>{-25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{160,184}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,850},{160,88}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,69},{160,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1084},{146,88}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,71},{146,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,968},{150,96}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,67},{150,96}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,516},{168,120}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,48},{168,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,156},{170,152}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,15},{170,152}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{210,156}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{210,156}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{204,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{204,144}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{202,152}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{202,152}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,328},{186,110}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,73},{186,110}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,686},{170,104}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,64},{170,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,850},{152,116}}</string>
                <key>offset</key>
                <string>{29,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,68},{152,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,952},{154,116}}</string>
                <key>offset</key>
                <string>{28,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,66},{154,116}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,148},{140,166}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{140,166}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,784},{128,166}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{128,166}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,316},{134,166}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,44},{134,166}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,160},{144,178}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,32},{144,178}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{168,194}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{168,194}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,178}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{208,178}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,174},{192,178}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{192,178}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,492},{190,166}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{190,166}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,160},{186,178}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{186,178}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,814},{162,138}}</string>
                <key>offset</key>
                <string>{20,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{162,138}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,954},{154,128}}</string>
                <key>offset</key>
                <string>{28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,14},{154,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,954},{146,128}}</string>
                <key>offset</key>
                <string>{32,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,12},{146,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,942},{110,72}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,78},{110,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,760},{108,72}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,78},{108,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1016},{104,74}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,77},{104,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,940},{110,72}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,78},{110,72}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1186},{94,78}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,72},{94,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1186},{96,78}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,72},{96,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1186},{94,78}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,71},{94,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1186},{94,78}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,72},{94,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1122},{96,86}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{96,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,960},{98,84}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,64},{98,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1048},{96,84}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,64},{96,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,960},{100,86}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{100,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1104},{98,80}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,64},{98,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1186},{98,78}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,66},{98,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1186},{96,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,66},{96,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_Stand_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1104},{96,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,64},{96,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,834},{118,82}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,74},{118,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{120,78}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,73},{120,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1066},{118,80}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,74},{118,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1108},{114,76}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{114,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1016},{102,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,65},{102,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1148},{94,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{94,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1060},{94,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{94,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1148},{86,86}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{86,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,578},{112,90}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,60},{112,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,484},{112,92}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,60},{112,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1174},{116,90}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,61},{116,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,850},{118,90}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,61},{118,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,670},{108,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,59},{108,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1174},{100,90}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,58},{100,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1084},{100,88}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{100,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>zhaoyun_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1014},{102,88}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,58},{102,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaoyun.pvr.ccz</string>
            <key>size</key>
            <string>{1266,1266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d73f83c90cc705414009ff1659d95d77:1/1$</string>
            <key>textureFileName</key>
            <string>zhaoyun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
