<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhoutai_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,614},{72,72}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{72,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,106},{106,92}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,59},{106,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,422},{108,96}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,55},{108,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,438},{110,84}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,69},{110,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,550},{132,90}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,67},{132,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{130,90}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,67},{130,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,94},{120,90}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,67},{120,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,446},{98,98}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{98,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,324},{108,96}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,65},{108,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,546},{128,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,73},{128,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,94},{108,84}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,73},{108,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,204},{104,82}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,72},{104,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,510},{98,62}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,81},{98,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,676},{120,78}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,73},{120,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,318},{126,88}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,65},{126,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,326},{110,78}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,70},{110,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,104}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{148,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,102}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{146,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{146,102}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{146,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,684},{132,88}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,55},{132,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,550},{142,64}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,80},{142,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,694},{122,72}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,80},{122,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,532},{120,68}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,81},{120,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,212},{112,70}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,80},{112,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,614},{78,60}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,83},{78,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,74},{98,70}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,81},{98,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,108},{102,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,80},{102,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,220},{96,72}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,83},{96,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{134,90}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,74},{134,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{134,90}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,74},{134,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{130,76}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,89},{130,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{144,70}}</string>
                <key>offset</key>
                <string>{23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,88},{144,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{156,68}}</string>
                <key>offset</key>
                <string>{27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,86},{156,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,72},{108,72}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,80},{108,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,74},{94,68}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,83},{94,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,170},{98,68}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,83},{98,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,296},{78,66}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,77},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,182},{98,74}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,78},{98,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,294},{94,74}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,79},{94,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,146},{96,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,77},{96,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{126,112}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,41},{126,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{124,110}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,42},{124,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{118,110}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,42},{118,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,216},{100,106}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,47},{100,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,214},{106,102}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,52},{106,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,654},{114,76}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,77},{114,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,282},{94,74}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,77},{94,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,134},{92,76}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,78},{92,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,370},{74,72}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{74,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,676},{72,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{72,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,378},{72,72}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{72,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,574},{98,60}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,82},{98,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,446},{98,62}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,80},{98,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,382},{98,62}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,80},{98,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,430},{76,60}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,83},{76,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,426},{76,60}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,83},{76,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,688},{76,60}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,83},{76,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,364},{78,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,78},{78,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,534},{78,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,78},{78,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,270},{78,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,77},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,708},{82,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,74},{82,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,636},{82,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,74},{82,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,310},{82,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,74},{82,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,452},{80,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,74},{80,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,628},{74,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,78},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,632},{74,66}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,78},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,560},{74,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,78},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,556},{74,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,78},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,750},{76,66}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,75},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,492},{74,66}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,75},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,488},{74,66}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,75},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,750},{76,66}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,76},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,444},{74,66}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,350},{74,66}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,75},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,228},{76,66}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,75},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhoutai_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,534},{78,66}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,76},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhoutai.pvr.ccz</string>
            <key>size</key>
            <string>{818,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1c2287a00ba9a418763b6c86e5eebdf:1/1$</string>
            <key>textureFileName</key>
            <string>zhoutai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
