<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeliang_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,558},{68,64}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,79},{68,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,352},{88,89}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,56},{88,89}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,168},{96,91}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,56},{96,91}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,265},{100,91}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,65},{100,91}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,261},{96,85}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{96,85}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,119},{112,79}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,74},{112,79}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{126,81}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,71},{126,81}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{128,87}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,67},{128,87}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,91},{136,75}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,78},{136,75}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,399},{88,73}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,78},{88,73}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,624},{74,69}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,78},{74,69}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,700},{72,67}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,79},{72,67}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,367},{72,62}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,79},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,168},{90,107}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{90,107}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,215},{94,101}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,47},{94,101}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{108,109}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,109}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,112},{102,101}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,48},{102,101}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{128,115}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{128,115}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{136,119}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,33},{136,119}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{126,117}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{126,117}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,273},{104,77}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,74},{104,77}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,516},{86,71}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,80},{86,71}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,553},{74,65}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,79},{74,65}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,509},{74,63}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,79},{74,63}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,619},{66,62}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,76},{66,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,425},{82,89}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,56},{82,89}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,333},{90,83}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,59},{90,83}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,367},{98,93}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,57},{98,93}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,233},{98,69}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,74},{98,69}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,127},{116,79}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,68},{116,79}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{130,87}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,65},{130,87}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,91},{120,75}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,76},{120,75}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,638},{104,69}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,76},{104,69}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,467},{94,69}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,76},{94,69}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,442},{80,65}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,76},{80,65}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,476},{70,65}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,76},{70,65}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,494},{66,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,77},{66,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,260},{82,107}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,33},{82,107}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,538},{84,99}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,42},{84,99}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{108,119}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,35},{108,119}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,168},{112,103}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,44},{112,103}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{120,119}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,32},{120,119}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,123}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{134,123}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{122,121}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,29},{122,121}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,85},{104,81}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,68},{104,81}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,311},{86,81}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,68},{86,81}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,620},{70,69}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,72},{70,69}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,168},{68,65}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,76},{68,65}}</string>
                <key>sourceSize</key>
                <string>{218,219}</string>
            </dict>
            <key>zhugeliang_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,488},{68,64}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,79},{68,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,418},{68,64}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,79},{68,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,301},{68,64}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{68,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,352},{72,62}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,79},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,574},{72,62}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,79},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,489},{72,62}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,79},{72,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,706},{68,62}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,76},{68,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,673},{66,62}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,76},{66,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,624},{70,62}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,76},{70,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,609},{66,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,77},{66,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,706},{66,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{66,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,574},{66,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{66,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,348},{72,64}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,79},{72,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,704},{70,64}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{70,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,344},{72,64}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,79},{72,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,691},{72,64}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,79},{72,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,696},{68,60}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,80},{68,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,557},{70,60}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{70,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,431},{72,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,79},{72,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,414},{72,60}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,80},{72,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,638},{70,64}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,75},{70,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,543},{70,64}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,75},{70,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,235},{68,64}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,76},{68,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,493},{70,62}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,77},{70,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,638},{62,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,75},{62,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,638},{62,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,75},{62,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,687},{64,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,76},{64,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhugeliang_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,426},{62,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,75},{62,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugeliang.pvr.ccz</string>
            <key>size</key>
            <string>{780,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a11037e02478ea2f2ab2c38dbf871cf:1/1$</string>
            <key>textureFileName</key>
            <string>zhugeliang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
