<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhurong_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,318},{76,64}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,86},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,382},{86,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,77},{86,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,194},{106,84}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,72},{106,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,302},{98,78}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,86},{98,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{136,86}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,79},{136,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,608},{126,82}}</string>
                <key>offset</key>
                <string>{-25,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,81},{126,82}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{138,86}}</string>
                <key>offset</key>
                <string>{-40,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,79},{138,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,90},{126,84}}</string>
                <key>offset</key>
                <string>{-27,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,80},{126,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,608},{134,80}}</string>
                <key>offset</key>
                <string>{-38,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,80},{134,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,112},{90,74}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,88},{90,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,384},{82,72}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,86},{82,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,250},{78,66}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,86},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,604},{70,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,76},{70,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,604},{80,72}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,72},{80,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,644},{78,80}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{78,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,308},{88,74}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,65},{88,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{128,106}}</string>
                <key>offset</key>
                <string>{-32,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,33},{128,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{128,98}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{128,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,108}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{130,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,482},{124,100}}</string>
                <key>offset</key>
                <string>{-30,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,38},{124,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{126,110}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{126,110}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,188},{118,98}}</string>
                <key>offset</key>
                <string>{-24,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,44},{118,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,538},{84,64}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,79},{84,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,458},{78,66}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,77},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{72,66}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,70},{72,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,308},{74,68}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,71},{74,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,458},{82,78}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,60},{82,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,298},{104,98}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,56},{104,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,102},{124,84}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,70},{124,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,354},{126,96}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,60},{126,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,108},{122,84}}</string>
                <key>offset</key>
                <string>{31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{122,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,224},{128,96}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,60},{128,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,90},{126,84}}</string>
                <key>offset</key>
                <string>{33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{126,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,476},{118,84}}</string>
                <key>offset</key>
                <string>{26,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,59},{118,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,736},{92,70}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,70},{92,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,624},{76,68}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,70},{76,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,176},{76,72}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{76,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,670},{80,68}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,72},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,384},{82,72}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,64},{82,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,398},{112,76}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,59},{112,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{132,104}}</string>
                <key>offset</key>
                <string>{28,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,31},{132,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{126,106}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,30},{126,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{130,104}}</string>
                <key>offset</key>
                <string>{32,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{130,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{126,106}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,29},{126,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{132,104}}</string>
                <key>offset</key>
                <string>{29,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,33},{132,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,194},{124,102}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{124,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,108},{80,68}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,71},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,726},{80,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,67},{80,74}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,254},{76,64}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,86},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,318},{76,64}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,86},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,176},{76,64}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,86},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,676},{68,64}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{68,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,742},{66,64}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{66,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,538},{70,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,76},{70,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,458},{74,66}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,70},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,250},{74,66}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,70},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,384},{72,66}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,70},{72,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,384},{74,72}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,67},{74,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,176},{76,72}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{76,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,604},{76,72}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{76,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,604},{86,64}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,86},{86,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,538},{84,64}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,86},{84,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,538},{88,64}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,85},{88,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,476},{88,64}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,87},{88,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,744},{76,62}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,80},{76,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,566},{76,64}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,79},{76,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,332},{74,64}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{74,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{80,62}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,80},{80,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,188},{80,66}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,68},{80,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,740},{82,66}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,458},{78,66}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,69},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,458},{78,66}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,69},{78,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,694},{66,66}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{66,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,536},{70,66}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,72},{70,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,678},{68,66}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{68,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zhurong_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,466},{72,68}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{72,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhurong.pvr.ccz</string>
            <key>size</key>
            <string>{808,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1a3dcbdc4d7b9324d4200f125cc4cb8:1/1$</string>
            <key>textureFileName</key>
            <string>zhurong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
