<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuoci_Attack_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,398},{78,68}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,82},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,640},{68,54}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,83},{68,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{74,54}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,83},{74,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,248},{96,62}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,80},{96,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,80},{90,70}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,70},{90,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,92},{90,72}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,69},{90,72}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,166},{90,76}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{90,76}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,312},{92,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,66},{92,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{96,92}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,57},{96,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,106}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{96,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{100,104}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,46},{100,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,640},{54,56}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,81},{54,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,86},{82,68}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{82,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,634},{58,58}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,79},{58,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,472},{58,62}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,78},{58,62}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,152},{74,60}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,74},{74,60}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,312},{74,84}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,51},{74,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,218},{88,92}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,43},{88,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,400},{86,92}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{86,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,312},{86,96}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{86,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{88,102}}</string>
                <key>offset</key>
                <string>{-11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,32},{88,102}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{94,108}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,26},{94,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,112}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,21},{100,112}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Leftup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,640},{58,54}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,80},{58,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,628},{72,66}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,73},{72,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,640},{54,58}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,72},{54,58}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,486},{54,64}}</string>
                <key>offset</key>
                <string>{25,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,66},{54,64}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,400},{80,68}}</string>
                <key>offset</key>
                <string>{38,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,66},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,96},{100,78}}</string>
                <key>offset</key>
                <string>{47,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,54},{100,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,558},{66,80}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,62},{66,80}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,312},{64,84}}</string>
                <key>offset</key>
                <string>{28,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,59},{64,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,156},{76,78}}</string>
                <key>offset</key>
                <string>{34,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,57},{76,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,110},{106,88}}</string>
                <key>offset</key>
                <string>{45,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,51},{106,88}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{92,100}}</string>
                <key>offset</key>
                <string>{35,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,46},{92,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{84,106}}</string>
                <key>offset</key>
                <string>{29,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,43},{84,106}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,442},{52,54}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,73},{52,54}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,612},{74,68}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{74,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,378},{62,56}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,78},{62,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,306},{70,56}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,78},{70,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,166},{76,78}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,56},{76,78}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,400},{84,96}}</string>
                <key>offset</key>
                <string>{31,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,38},{84,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{102,92}}</string>
                <key>offset</key>
                <string>{39,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,43},{102,92}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,86},{66,94}}</string>
                <key>offset</key>
                <string>{22,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,40},{66,94}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,542},{74,96}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,38},{74,96}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,176},{70,100}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,34},{70,100}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{76,104}}</string>
                <key>offset</key>
                <string>{22,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,30},{76,104}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{82,108}}</string>
                <key>offset</key>
                <string>{22,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,26},{82,108}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Attack_Rightup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,488},{52,56}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,79},{52,56}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,556},{76,68}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,82},{76,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,536},{74,68}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,82},{74,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,234},{78,70}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,81},{78,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,558},{78,68}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,79},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,312},{80,68}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,79},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,312},{82,66}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,80},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,244},{72,66}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{72,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,552},{74,66}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,72},{74,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,244},{72,66}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{72,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,396},{76,68}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,79},{76,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,482},{74,68}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,79},{74,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_Stand_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,236},{74,68}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{74,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Leftdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,154},{80,68}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,81},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Leftdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,558},{80,68}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,82},{80,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Leftdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,478},{78,68}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,82},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Leftdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,478},{76,66}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,83},{76,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Leftup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,312},{82,66}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,78},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Leftup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{82,68}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,77},{82,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Leftup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,244},{82,66}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,78},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Leftup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,558},{80,66}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,78},{80,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Rightdown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,398},{78,68}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,74},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,488},{78,68}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,74},{78,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,474},{76,70}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,73},{76,70}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,394},{76,68}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,75},{76,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Rightup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,312},{82,66}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,78},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{82,68}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,77},{82,68}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,244},{82,66}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,78},{82,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>zuoci_run_Rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,558},{80,66}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,78},{80,66}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zuoci.pvr.ccz</string>
            <key>size</key>
            <string>{696,696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0c22831ea71191865492972d570d80c:1/1$</string>
            <key>textureFileName</key>
            <string>zuoci.pvr.ccz</string>
        </dict>
    </dict>
</plist>
