<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hit_1018/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{178,192}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,165},{178,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1018/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,200}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,157},{190,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1018/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{184,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,166},{184,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1018/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,204},{188,180}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,165},{188,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1018/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,188},{182,176}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,166},{182,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1018/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{164,180}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,172},{164,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1018/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{130,146}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,186},{130,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1018/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,398},{104,114}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,199},{104,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1018/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,394},{82,84}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,214},{82,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1018/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,372},{152,160}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,177},{152,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hit_1018.pvr.ccz</string>
            <key>size</key>
            <string>{544,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a1691dc311be44d0af4438e69ab05e:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hit_1018.pvr.ccz</string>
        </dict>
    </dict>
</plist>
