<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hit_1012/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{118,116}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,204},{118,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1012/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{168,158}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,181},{168,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1012/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,200},{198,170}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,171},{198,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1012/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,196}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,157},{194,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1012/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,166}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,174},{194,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1012/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{194,184}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,156},{194,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1012/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{192,148}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,183},{192,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hit_1012.pvr.ccz</string>
            <key>size</key>
            <string>{526,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c17a464678d6223231588b4135186cd:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hit_1012.pvr.ccz</string>
        </dict>
    </dict>
</plist>
