<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hit_1017/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,548},{146,126}}</string>
                <key>offset</key>
                <string>{-28,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,294},{146,126}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{228,168}}</string>
                <key>offset</key>
                <string>{-34,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,278},{228,168}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,396},{240,150}}</string>
                <key>offset</key>
                <string>{-34,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,281},{240,150}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,548},{184,168}}</string>
                <key>offset</key>
                <string>{-23,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,283},{184,168}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,232},{204,222}}</string>
                <key>offset</key>
                <string>{-25,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,228},{204,222}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{188,236}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,216},{188,236}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,186},{208,252}}</string>
                <key>offset</key>
                <string>{-35,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,199},{208,252}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{262,242}}</string>
                <key>offset</key>
                <string>{-26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,214},{262,242}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,252}}</string>
                <key>offset</key>
                <string>{-36,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,199},{272,252}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{284,182}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,268},{284,182}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1017/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,456},{220,196}}</string>
                <key>offset</key>
                <string>{-26,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,259},{220,196}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hit_1017.pvr.ccz</string>
            <key>size</key>
            <string>{738,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e85f0d41b77770d79d379efc897d0e21:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hit_1017.pvr.ccz</string>
        </dict>
    </dict>
</plist>
