<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hit_1010/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{106,422}}</string>
                <key>offset</key>
                <string>{3,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,0},{106,422}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{414,236}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,223},{414,236}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,962},{220,232}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,223},{220,232}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,856},{234,464}}</string>
                <key>offset</key>
                <string>{14,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,0},{234,464}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{520,476}}</string>
                <key>offset</key>
                <string>{-36,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{520,476}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{492,478}}</string>
                <key>offset</key>
                <string>{-50,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{492,478}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,480}}</string>
                <key>offset</key>
                <string>{-36,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{520,480}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,480},{502,480}}</string>
                <key>offset</key>
                <string>{-44,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{502,480}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,962},{342,300}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,185},{342,300}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{424,268}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,204},{424,268}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_hit_1010/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,428},{426,258}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,200},{426,258}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hit_1010.pvr.ccz</string>
            <key>size</key>
            <string>{1322,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eb8e2ce250e9d9bda0a9200784d2dab:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hit_1010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
