<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hit_1016/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,458},{92,132}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,236},{92,132}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,458},{142,222}}</string>
                <key>offset</key>
                <string>{11,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,118},{142,222}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,458},{136,230}}</string>
                <key>offset</key>
                <string>{9,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,115},{136,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{132,232}}</string>
                <key>offset</key>
                <string>{7,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,115},{132,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,446},{108,94}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,241},{108,94}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,246},{138,116}}</string>
                <key>offset</key>
                <string>{14,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,228},{138,116}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,552},{98,122}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,231},{98,122}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,542},{124,142}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,226},{124,142}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{144,190}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,177},{144,190}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,256},{188,212}}</string>
                <key>offset</key>
                <string>{-7,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,142},{188,212}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{252,260}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,134},{252,260}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,242}}</string>
                <key>offset</key>
                <string>{4,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,115},{264,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{156,232}}</string>
                <key>offset</key>
                <string>{12,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,111},{156,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_hit_1016/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,236},{148,220}}</string>
                <key>offset</key>
                <string>{8,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,123},{148,220}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hit_1016.pvr.ccz</string>
            <key>size</key>
            <string>{694,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:429c2e898bc5d09493a4ade6b0bcfaca:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hit_1016.pvr.ccz</string>
        </dict>
    </dict>
</plist>
