<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hit_1001/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,150},{60,60}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,251},{60,60}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>skill_hit_1001/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{146,146}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,208},{146,146}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>skill_hit_1001/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{236,238}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,161},{236,238}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>skill_hit_1001/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{200,186}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,181},{200,186}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>skill_hit_1001/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,240},{222,212}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,163},{222,212}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>skill_hit_1001/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,228}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,148},{252,228}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>skill_hit_1001/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{228,220}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,161},{228,220}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>skill_hit_1001/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,240},{194,208}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,168},{194,208}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hit_1001.pvr.ccz</string>
            <key>size</key>
            <string>{644,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16b40feec55976690db4e76fa36e456c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hit_1001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
