<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hit_1013/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{110,300}}</string>
                <key>offset</key>
                <string>{4,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,0},{110,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{170,110}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,198},{170,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,220},{172,108}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,201},{172,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,114},{162,104}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,203},{162,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,476},{148,88}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,212},{148,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,324},{146,306}}</string>
                <key>offset</key>
                <string>{6,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{146,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{140,314}}</string>
                <key>offset</key>
                <string>{11,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,0},{140,314}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,320}}</string>
                <key>offset</key>
                <string>{7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,0},{186,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,304},{198,146}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,175},{198,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,118},{160,144}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,178},{160,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,330},{186,144}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,171},{186,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,504},{174,128}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,187},{174,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1013/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{164,114}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,192},{164,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hit_1013.pvr.ccz</string>
            <key>size</key>
            <string>{640,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b53ba68d859733518487b5a0946d3811:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hit_1013.pvr.ccz</string>
        </dict>
    </dict>
</plist>
