<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hit_1011/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,270},{110,112}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,210},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1011/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,270},{128,110}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,199},{128,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1011/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{196,144}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,182},{196,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1011/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,160}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,174},{244,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1011/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{146,126}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{146,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_hit_1011/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,150},{118,122}}</string>
                <key>offset</key>
                <string>{15,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,162},{118,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_hit_1011.pvr.ccz</string>
            <key>size</key>
            <string>{390,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43fd7956ac8a826bec7be84c6287f901:1/1$</string>
            <key>textureFileName</key>
            <string>skill_hit_1011.pvr.ccz</string>
        </dict>
    </dict>
</plist>
