<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1008/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{14,16}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,329},{14,16}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,246},{92,238}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,136},{92,238}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,246},{88,194}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,157},{88,194}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,442},{58,42}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,312},{58,42}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,258},{102,240}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,147},{102,240}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{112,256}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,133},{112,256}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{134,230}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,151},{134,230}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,254}}</string>
                <key>offset</key>
                <string>{-10,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,139},{128,254}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{124,232}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,149},{124,232}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,246},{116,224}}</string>
                <key>offset</key>
                <string>{-10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,158},{116,224}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1008/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,128},{116,236}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,141},{116,236}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1008.pvr.ccz</string>
            <key>size</key>
            <string>{522,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21d0e4a1fb798627bc8bc564820ce54a:1/1$</string>
            <key>textureFileName</key>
            <string>skill_1008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
