<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1002/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{200,242}}</string>
                <key>offset</key>
                <string>{-11,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,95},{200,242}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1002/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,370}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,79},{600,370}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1002/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{600,366}}</string>
                <key>offset</key>
                <string>{9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,83},{600,366}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1002/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{600,346}}</string>
                <key>offset</key>
                <string>{9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,103},{600,346}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1002/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,398}}</string>
                <key>offset</key>
                <string>{9,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,51},{600,398}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1002/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,728},{472,386}}</string>
                <key>offset</key>
                <string>{6,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,31},{472,386}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1002/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,494},{200,232}}</string>
                <key>offset</key>
                <string>{-11,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,102},{200,232}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1002/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,246},{194,246}}</string>
                <key>offset</key>
                <string>{-11,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,92},{194,246}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1002.pvr.ccz</string>
            <key>size</key>
            <string>{1178,1178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a20c3b20309181162383c314c926ec3b:1/1$</string>
            <key>textureFileName</key>
            <string>skill_1002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
