<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1005/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,240},{96,198}}</string>
                <key>offset</key>
                <string>{3,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,114},{96,198}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1005/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{96,216}}</string>
                <key>offset</key>
                <string>{3,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,112},{96,216}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1005/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,462},{98,234}}</string>
                <key>offset</key>
                <string>{3,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,95},{98,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1005/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{104,236}}</string>
                <key>offset</key>
                <string>{5,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,95},{104,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1005/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,220},{128,240}}</string>
                <key>offset</key>
                <string>{-4,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,94},{128,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1005/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,262},{154,240}}</string>
                <key>offset</key>
                <string>{-3,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,94},{154,240}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1005/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{164,244}}</string>
                <key>offset</key>
                <string>{-3,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,95},{164,244}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1005/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,258}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,94},{178,258}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>skill_1005/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{164,216}}</string>
                <key>offset</key>
                <string>{-5,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,128},{164,216}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1005.pvr.ccz</string>
            <key>size</key>
            <string>{562,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85185196d6a757cd58daefa551e91855:1/1$</string>
            <key>textureFileName</key>
            <string>skill_1005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
