<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1007/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,194},{74,54}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,263},{74,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1007/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,250},{58,84}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,217},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1007/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,110},{82,78}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,246},{82,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1007/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{102,106}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,227},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1007/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{116,116}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,222},{116,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1007/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,122}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,216},{122,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1007/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,126},{122,118}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,209},{122,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1007/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{128,108}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,222},{128,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1007/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,122}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,202},{122,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1007/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,250},{102,86}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,225},{102,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1007.pvr.ccz</string>
            <key>size</key>
            <string>{354,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5270964dbe7d1a6e1e3de3e1dc21b83b:1/1$</string>
            <key>textureFileName</key>
            <string>skill_1007.pvr.ccz</string>
        </dict>
    </dict>
</plist>
