<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1009/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,160},{124,138}}</string>
                <key>offset</key>
                <string>{-12,189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,42},{124,138}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{170,338}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,100},{170,338}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,532},{194,200}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,219},{194,200}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{144,156}}</string>
                <key>offset</key>
                <string>{-13,189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,33},{144,156}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,300},{144,230}}</string>
                <key>offset</key>
                <string>{-13,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,23},{144,230}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,638},{144,304}}</string>
                <key>offset</key>
                <string>{-13,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,0},{144,304}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,336},{144,406}}</string>
                <key>offset</key>
                <string>{-13,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,0},{144,406}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{156,430}}</string>
                <key>offset</key>
                <string>{-6,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,0},{156,430}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,482},{154,390}}</string>
                <key>offset</key>
                <string>{-15,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,33},{154,390}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,160},{174,400}}</string>
                <key>offset</key>
                <string>{-8,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,37},{174,400}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>skill_1009/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,416}}</string>
                <key>offset</key>
                <string>{-3,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,37},{182,416}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1009.pvr.ccz</string>
            <key>size</key>
            <string>{786,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ca5a41dd8e64c86802487377a8cb506:1/1$</string>
            <key>textureFileName</key>
            <string>skill_1009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
