<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/worldMap/cityType_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,938},{73,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,48}</string>
			</dict>
			<key>image/worldMap/cityType_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,938},{73,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,48}</string>
			</dict>
			<key>image/worldMap/cityType_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,938},{70,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,48}</string>
			</dict>
			<key>image/worldMap/cityType_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,938},{70,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,48}</string>
			</dict>
			<key>image/worldMap/cityType_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,687},{77,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>image/worldMap/cityType_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,938},{77,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>image/worldMap/diming.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,601},{47,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,84}</string>
			</dict>
			<key>image/worldMap/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,468},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>
			<key>image/worldMap/guankaditudixiaheidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,468},{728,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{728,51}</string>
			</dict>
			<key>image/worldMap/guanqiaditu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1013,465}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1013,465}</string>
			</dict>
			<key>image/worldMap/guanqiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,468},{73,301}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,303}</string>
			</dict>
			<key>image/worldMap/guanqiaodi-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,468},{75,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,303}</string>
			</dict>
			<key>image/worldMap/jiandan_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,771},{46,157}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,162}</string>
			</dict>
			<key>image/worldMap/jiandan_zc.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,791},{35,145}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,162}</string>
			</dict>
			<key>image/worldMap/liangcaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,468},{131,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,36}</string>
			</dict>
			<key>image/worldMap/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,868},{15,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>image/worldMap/xiangzi_jihuo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,938},{55,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,46}</string>
			</dict>
			<key>image/worldMap/xiangzi_jihuo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,938},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,50}</string>
			</dict>
			<key>image/worldMap/xiangzi_jihuo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,938},{63,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,53}</string>
			</dict>
			<key>image/worldMap/xiangzi_zc_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,985},{43,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,35}</string>
			</dict>
			<key>image/worldMap/xiangzi_zc_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,938},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>
			<key>image/worldMap/xiangzi_zc_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,535},{51,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,43}</string>
			</dict>
			<key>image/worldMap/xingan.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,736},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>
			<key>image/worldMap/xingliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,736},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>
			<key>image/worldMap/yihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,791},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>image/worldMap/zhangjiebiaotidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,468},{53,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,321}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>point_scene.png</string>
			<key>realTextureFileName</key>
			<string>point_scene.png</string>
			<key>size</key>
			<string>{1024,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>