<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/pvp/baibei.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,793},{84,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,47}</string>
			</dict>
			<key>image/pvp/buzhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,353},{57,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,21}</string>
			</dict>
			<key>image/pvp/dengjiquanquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>image/pvp/dierming.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,430},{18,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,67}</string>
			</dict>
			<key>image/pvp/disanming.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,409},{19,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,67}</string>
			</dict>
			<key>image/pvp/diyiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,450},{18,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,67}</string>
			</dict>
			<key>image/pvp/duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,376},{56,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,21}</string>
			</dict>
			<key>image/pvp/hongxuetiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1000},{278,11}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,28}</string>
			</dict>
			<key>image/pvp/huifang.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,399},{53,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,26}</string>
			</dict>
			<key>image/pvp/jiangliguize.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,112},{90,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,21}</string>
			</dict>
			<key>image/pvp/jiangliguizebiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,990},{131,30}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,31}</string>
			</dict>
			<key>image/pvp/jiangliguizedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,473},{495,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{495,177}</string>
			</dict>
			<key>image/pvp/junjichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1},{98,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,31}</string>
			</dict>
			<key>image/pvp/junjichupaimingkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,887},{411,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,71}</string>
			</dict>
			<key>image/pvp/junjichurenwuxinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,473},{412,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{412,77}</string>
			</dict>
			<key>image/pvp/lanxuetiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1},{278,11}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,28}</string>
			</dict>
			<key>image/pvp/lishizuigaopaiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1000},{160,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,26}</string>
			</dict>
			<key>image/pvp/mo.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,685},{193,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,60}</string>
			</dict>
			<key>image/pvp/renwutouxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,685},{106,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,82}</string>
			</dict>
			<key>image/pvp/rongyushangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,990},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>image/pvp/rongyushangdianzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,353},{54,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,45}</string>
			</dict>
			<key>image/pvp/shengli.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,1},{84,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,47}</string>
			</dict>
			<key>image/pvp/shuaxinduishou.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1},{109,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,22}</string>
			</dict>
			<key>image/pvp/v.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,454},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>image/pvp/vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,793},{71,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,90}</string>
			</dict>
			<key>image/pvp/xuetiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,960},{288,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,28}</string>
			</dict>
			<key>image/pvp/xuetiaoshangdefenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1013},{5,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{5,15}</string>
			</dict>
			<key>image/pvp/xuyaojungong.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,473},{210,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,118}</string>
			</dict>
			<key>image/pvp/yingxiongbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{293,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,470}</string>
			</dict>
			<key>image/pvp/yongyoujungong.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,272},{79,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,17}</string>
			</dict>
			<key>image/pvp/zhanbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,204},{66,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,22}</string>
			</dict>
			<key>image/pvp/zhanbaobiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1},{84,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,32}</string>
			</dict>
			<key>image/pvp/namedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,970},{330,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pvp_scene.png</string>
			<key>realTextureFileName</key>
			<string>pvp_scene.png</string>
			<key>size</key>
			<string>{793,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>793</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>