<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_20/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{100,114}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,49},{100,114}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>buff_20/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{98,112}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,49},{98,112}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>buff_20/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,104},{98,112}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,49},{98,112}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>buff_20/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{96,114}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,49},{96,114}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>buff_20/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,118}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,47},{98,118}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>buff_20/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,204},{96,112}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,50},{96,112}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_20.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a4cf0d7b49ef84e8228cb87fc594c05:1/1$</string>
            <key>textureFileName</key>
            <string>buff_20.png</string>
        </dict>
    </dict>
</plist>
