<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_11/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,118},{112,156}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,179},{112,156}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>buff_11/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,202}}</string>
                <key>offset</key>
                <string>{-1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,133},{114,202}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>buff_11/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{114,196}}</string>
                <key>offset</key>
                <string>{-3,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,139},{114,196}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>buff_11/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,224}}</string>
                <key>offset</key>
                <string>{-3,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,111},{114,224}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>buff_11/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{116,212}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,123},{116,212}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>buff_11/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,118},{114,146}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,189},{114,146}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_11.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bef3ff45ed2cf24211879e9211c2fa9:1/1$</string>
            <key>textureFileName</key>
            <string>buff_11.png</string>
        </dict>
    </dict>
</plist>
