<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_13/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{28,42}}</string>
                <key>offset</key>
                <string>{-7,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,143},{28,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>buff_13/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{30,46}}</string>
                <key>offset</key>
                <string>{-7,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,141},{30,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>buff_13/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{34,48}}</string>
                <key>offset</key>
                <string>{-7,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,139},{34,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>buff_13/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,48}}</string>
                <key>offset</key>
                <string>{-7,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,139},{34,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>buff_13/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{24,36}}</string>
                <key>offset</key>
                <string>{-7,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,146},{24,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_13.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:533ba75754bf77e75590e78e821cc3cb:1/1$</string>
            <key>textureFileName</key>
            <string>buff_13.png</string>
        </dict>
    </dict>
</plist>
