<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,2},{30,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{30,9}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
            <key>attack_5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,2},{30,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{30,9}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
            <key>attack_5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,11}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
            <key>attack_5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,11}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_5.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba74277ca1e6b0448a3288bec956b82:1/1$</string>
            <key>textureFileName</key>
            <string>attack_5.png</string>
        </dict>
    </dict>
</plist>
